@import "../../../styles/brand-variables/brand";
@import "../../../styles/mixins";

.c-dropdown {
	label {
		text-indent: 62px;
	}
	.dropdown-toggle {
		height: 60px;
		border: 1px solid $input-border;
		padding-top: 25px;

		&:hover {
			border-color: $input-border-hover;
		}
		&:focus {
			border-color: $brand-p-1;
		}
	}
	.dropdown-menu,
	.btn {
		@include font-size(1.3);
	}
	.dropdown-menu li {
		padding-top: 5px;
		padding-bottom: 5px;

		&:hover {
			cursor: pointer;
			background-color: $brand-s-4;
		}
		&.disabled {
			color: #97988e;
		}
	}
	.caret-al{margin-top:-8px}
}

