<div class="c-input c-dropdown">
	<i class="top-icon al-icon {{icon}} text-color-s-3"  *ngIf="!isFa" [hidden]="!showIcon"></i>
	<i class="top-icon fa {{icon}} text-color-s-3"  *ngIf="isFa" [hidden]="!showIcon"></i>
	<label [ngClass]="{'text-indent-50':isFat && showIcon}">{{label}}</label>
	<div class="ng2-bootstrap-dropdown" dropdown keyboardNav="true">
		<button  type="button"
				class="btn form-control"
				[ngClass]="{'text-indent-50':isFat && showIcon}" dropdownToggle>
			    <span class="pull-left">{{ defaultSelection | translate }}</span>
				<span class="pull-right caret-al"><span class="caret"></span></span>
		</button>
		<ul class="dropdown-menu" dropdownMenu role="menu"
			aria-labelledby="payment-method-dropdown">
			<li role="menuitem"
				*ngFor="let op of options"
				(click)="selectOption(op)"
				[ngClass]="{ 'disabled' : isDisabled(op) }">
				{{ op | translate }}
			</li>
		</ul>
	</div>
</div>
