<section class="header-brand">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 text-center">
                <img alt="Brand" src="../../assets/img/logo.svg" height="100px">
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row p-top-30" >
            <div class="col-md-8 col-md-offset-2 text-center">
                <h1>404: page not found</h1>
                <p class=" p-top-30"><a class="btn btn-primary btn-lg" href="/">Back</a></p>
            </div>
        </div>
    </div>
</section>


