<div class="input-group">
	<input type="text"
		class="form-control"
		[(ngModel)]="date"
		placeholder="{{ 'CUSTOM_DATE_PICKER.TITLE' | translate }}" />

	<span class="input-group-btn">
		<button type="button" class="btn btn-secondary"
			(click)="displayDatePicker = !displayDatePicker">
			<i class="fa fa-calendar"></i>
		</button>
	</span>
</div>

<div class="display-inline-block">
	<datepicker *ngIf="displayDatePicker" [showWeeks]="false"
		(selectionDone)="selectedDate($event)"></datepicker>
</div>
