<div class="text-center m-top-20 m-bottom-15">
	<a class="small center-block">
		{{ 'LOGIN-LINKS.FORGOT-PASSWORD' | translate }}
	</a>
	<a class="small center-block">
		{{ 'LOGIN-LINKS.DONT-HAVE-ACCOUNT' | translate }}
	</a>
</div>
