@import "../../../styles/brand-variables/brand";
@import "../../../styles/mixins";
@import "../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";

:host {

	display: block;
	position: relative;

	.inner-column-layout {
		border-radius: 8px;
		padding-left: 20px;
		padding-right: 20px;
	}
	.has-step {
		margin-left: 15px;
		padding: 0 0 20px 45px;
		border-left: solid 4px $brand-s-4;

		.inner-column-layout {
			margin-bottom: 0;
			position: relative;
			top: -15px;
		}
		&.last-step {
			border-left-color: transparent;
		}
	}
	.step {
		height: 36px;
		width: 36px;
		border-radius: 100%;
		border: 2px solid $brand-s-4;
		background: $brand-s-3;
		text-align: center;
		color: #fff;
		padding-top: 6px;
		@include font-size(1.4);
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
	}
}

@media(max-width: $screen-sm-max){

	:host {
		.step {
			height: 26px;
			width: 26px;
			padding-top: 3px;
			left: -3px;
			@include font-size(1.2);
		}
		.has-step {
			margin-left: 9px;
			padding-left: 25px;
			border-left-width: 2px;
		}
	}

}
