<div [ngClass]="{ 'has-step' : showStep, 'last-step' : lastStep }">
	<div *ngIf="showStep" class="step">
		{{ step }}
	</div>

	<div class="inner-column-layout" [ngClass]="{ 'left-arrow' : showStep }">
		<i class="fa fa-{{icon}} fa-3x title-icon"></i>
		<h2 (click)="togglePanel()" [attr.role]="canCollapse ? 'button' : null" class="m-bottom-0">
			{{ title }}
			<span *ngIf="canCollapse">
				<i class="fa fa-chevron-down custom-chevron" *ngIf="!isCollapsed"></i>
				<i class="fa fa-chevron-up custom-chevron" *ngIf="isCollapsed"></i>
			</span>
		</h2>

		<div class="row" [style.display]="isCollapsed && firstTimeLoad ? 'none' : null">
			<div class="col-lg-12" [@collapsedState]="isCollapsed.toString()" #customPanel
				(@collapsedState.done)="animationDone()">
				<ng-content ></ng-content>
			</div>
		</div>
	</div>
</div>
