<div class="container">
	<div class="well">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-9 desktop-no-padding-right">
				<h2>{{ 'A-TO-B.TITLE' | translate }}</h2>

				<journey-details
					[waypoints]="waypoints"
					(pickupEvent)="updatePickUp($event)"
					(dropOffEvent)="updateDropOff($event)"
					(selectJourneyType)="updateJourneyType($event)"
					(selectPaymentType)="updatePaymentType($event)"
					(onRemoveWaypoint)="onRemoveWaypoint($event)"
				    (onResetWaypoints)="onResetWaypoints($event)"
					(onDragAndDrop)="reOrderWaypoints($event)">
				</journey-details>
				<!--<div *ngFor="let stop of waypoints; let index = index">-->
					<!--<journey-waypoint [index]="index"-->
									  <!--[initData]="stop"-->
									  <!--[totalWayPoints]="waypoints.length"-->
									  <!--(addAnotherDestination)="addOneDestination()"-->
									  <!--(removeAnotherDestination)="removeOneDestination($event)"-->
									  <!--(wayPointEvent)="updateWayPoint($event)">-->
					<!--</journey-waypoint>-->

				<!--</div>-->

				<global-services (onServiceSelect)="updateSelectedService($event)" [index]="waypoints.length+2"></global-services>
				<passenger-details (onValidForm)="updateSelectedPassenger($event)" [index]="waypoints.length + 3"></passenger-details>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
				<summary-widget (notifyEstimatedTime)="updateEstimatedTime($event)"
					(makeBooking)="bookingConfirmation()"
					(editBooking)="editBookingConfirmation()"></summary-widget>
			</div>
		</div>
	</div>
</div>

