<div class="no-gutter">
	<div class="col-xs-4 col-sm-3 col-md-3 col-lg-3 text-center">
		<a [routerLink]="route" class="display-block">
			<img alt="{{ image }}" src="assets/img/home-tile/{{ image }}.jpg" class="display-block">
			<strong class="display-block">{{ name }}</strong>
		</a>
	</div>
</div>
