<div class="clearfix">




<!-- mobile view -->
<div class="btn-wrapper p-bottom-15 hidden-lg">
	<button class="btn btn-book btn-block p-top-0 p-bottom-0" *ngIf="!isEdit"
			[disabled]="!model?.origin || !model?.destination || !model?.service || !model?.passenger || !model?.payment"
			[ngClass]="{
						'bg-color-s-2 text-color-p-2': !model?.origin || !model?.destination || !model?.service
						|| !model?.passenger?.namePassenger || !model.payment,
						'btn-primary': model?.origin && model?.destination && model?.service
						&& model?.passenger && model?.payment }"
			(click)="triggerStartBooking()">
					<span class="col-xs-6 col-sm-6 col-md-6 p-top-13 text-left">
						{{ 'SUMMARY_WIDGET.BOOK_NOW' | translate }}
					</span>
		<div class="price text-left col-xs-6 col-sm-6 col-md-6">
			&pound;{{ model?.price?.quotes ? model?.price?.quotes[0].total : '0.00' }}
		</div>
	</button>
	<button class="btn btn-book btn-block p-top-0 p-bottom-0 text-left" *ngIf="isEdit"
			[ngClass]="{ 'btn-primary': true }"
			(click)="triggerAmendBooking()">
					<span class="col-xs-6 col-sm-6 col-md-6 p-top-13 text-left">
						{{ 'SUMMARY_WIDGET.AMEND_BOOKING' | translate }}
					</span>
		<div class="price text-center col-xs-6 col-sm-6 col-md-6">
			&pound;{{ model?.price?.quotes ? model?.price?.quotes[0].total : '0.00' }}
		</div>
	</button>
</div>

<!-- desktop view -->
<div class="hidden-xs hidden-sm hidden-md">
	<div class="price p-top-15 p-bottom-15 text-center col-xs-5 col-xs-push-7 col-sm-3 col-sm-push-9 col-md-3
				col-md-push-9 col-lg-push-0 col-lg-12">
		&pound;{{ model?.price?.quotes ? model?.price?.quotes[0].total : '0.00' }}
	</div>
	<div class="btn-wrapper col-xs-7 col-xs-pull-5 col-sm-9 col-sm-pull-3 col-md-9 col-md-pull-3 col-lg-pull-0
				p-bottom-15">
		<button class="btn btn-book btn-block p-top-15 p-bottom-15" *ngIf="!isEdit"
				[disabled]="!model?.origin || !model?.destination || !model?.service || !model?.passenger || !model?.payment"
				[ngClass]="{
							'bg-color-s-2 text-color-p-2': !model?.origin || !model?.destination || !model?.service
							|| !model?.passenger?.namePassenger || !model.payment,
							'btn-primary': model?.origin && model?.destination && model?.service
							 && model?.passenger && model?.payment}"
				(click)="triggerStartBooking()">
			{{ 'SUMMARY_WIDGET.BOOK_NOW' | translate }}
		</button>
		<button class="btn btn-book btn-block p-top-15 p-bottom-15" *ngIf="isEdit"
				[ngClass]="{
							'btn-primary': true}"
				(click)="triggerAmendBooking()">
			{{ 'SUMMARY_WIDGET.AMEND_BOOKING' | translate }}
		</button>
	</div>
</div>
</div>
