@import "../../../../styles/brand-variables/brand";
@import "../../../../styles/mixins";
@import "../../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";

.price {
	background-color: $brand-p-4;
	@include font-size(3.4);
}
.btn-book {
	font-weight: $font-weight-medium;
	@include font-size(1.8);
	&:hover {
		color: inherit;
	}
}

@media (max-width: $screen-md-max) {

	.price {
		text-align: right;
		padding-right: 0;
	}
	.btn-wrapper {
		padding-left: 0;
	}
}

@media (min-width: $screen-lg) {
	.price {
		border-top: solid 1px $brand-s-2;
	}
	.btn-wrapper {
		padding-left: 15px;
		padding-right: 15px;
		width: 100%;
	}
}
