<custom-panel
	[title]="'PASSENGER_DETAILS.TITLE' | translate"
	[step]="index"
	[canCollapse]="false"
	[isCollapsed]="isCollapsed"
	[lastStep]="true"
	class="clearfix">

	<form [formGroup]="form" [ngClass]="{ 'no-gutter': isFat }" class="m-top-20">
		<div class="col-md-12">
			<custom-input
				#name
				[parent]="form"
				[label]="'PASSENGER_DETAILS.NAME' | translate"
				[placeholder]="'PASSENGER_DETAILS.NAME_PLACEHOLDER' | translate"
				[isFa]="false"
				[showIcon]="false"
				(onBlurEvent)="checkForm()"
				[lightBorder]="['bottom']"
				[name]="'name'">
			</custom-input>
		</div>
		<div class="col-md-6">
			<custom-input
				#email
				[parent]="form"
				[label]="'PASSENGER_DETAILS.EMAIL' | translate"
				[placeholder]="'PASSENGER_DETAILS.EMAIL_PLACEHOLDER' | translate"
				[isFa]="false"
				[showIcon]="false"
				(onBlurEvent)="checkForm()"
				[transparentBorder]="['top']"
				[lightBorder]="['right']"
				[name]="'email'">
			</custom-input>
		</div>
		<div class="col-md-6">
			<custom-input
				#mobile
				[parent]="form"
				[label]="'PASSENGER_DETAILS.MOBILE' | translate"
				[placeholder]="'PASSENGER_DETAILS.MOBILE_PLACEHOLDER' | translate"
				[isFa]="false"
				[showIcon]="false"
				(onBlurEvent)="checkForm()"
				[transparentBorder]="['top', 'left']"
				[name]="'mobile'">
			</custom-input>
		</div>

		<div class="col-lg-12">
			<validation-message [control]="form.controls.name" [label]="'passenger name'" [minLength]="'2'"></validation-message>
			<validation-message [control]="form.controls.email" [label]="'passenger email'"></validation-message>
			<validation-message [control]="form.controls.mobile" [label]="'mobile number'"></validation-message>
		</div>
	</form>
</custom-panel>
