<div class="pickup-info" >
	<div class="">
		<i class="fa fa-clock-o display-inline-block m-right-10 pull-left hidden-lg"></i>
		<div class="display-inline-block">
			<div class="pickup-label">
				{{ 'SUMMARY_WIDGET.DATE_TIME' | translate }}
				<span *ngIf="model?.estimatedTime">{{ 'SUMMARY_WIDGET.DURATION' | translate }}</span>
			</div>
			<div class="time-stamp">
				{{ model?.journey['time'] | date }} |
				<strong>{{ model?.journey['time'] | date:'HH' }}:{{ model?.journey['time'] | date:'mm' }}</strong>
				<strong *ngIf="estimatedTime">| {{ estimatedTime | timeFormatter }}</strong>
			</div>
		</div>
	</div>
</div>
