@import "../../../../styles/brand-variables/brand";
@import "../../../../styles/mixins";
@import "../../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";


.time-stamp {
	font-weight: $font-weight-light;
}
@media (max-width: $screen-md-max) {
	.fa-clock-o {
		@include font-size(2.4);
	}
	.pickup-label {
		@include font-size(1.6);
	}
	.pickup-info {
		background-color: $brand-p-1;
		color: $brand-s-2;
		padding: 10px ;
	}
	.time-stamp {
		position: relative;
		top: 2px;
		@include font-size(1.6);
	}
}

@media (min-width: $screen-lg) {
	.fa-clock-o {
		@include font-size(3.4);
		position: relative;
		top: 3px;
	}
	.pickup-info {
		text-align: right;
		padding: 15px ;
	}
	.pickup-label {
		@include font-size(1.2);
	}
	.time-stamp {
		color: $brand-p-1;
		@include font-size(1.4);
	}

}
