<form [formGroup]="form" >
	<div class="c-input">
		<label [ngClass]="{'text-indent-50': isFat && showIcon}">{{label}}</label>
		<i class="top-icon al-icon {{icon}} text-color-s-3"  *ngIf="!isFa" [hidden]="!showIcon"></i>
		<i class="top-icon fa {{icon}} text-color-s-3"  *ngIf="isFa" [hidden]="!showIcon"></i>

		<ng-template #customItemTemplateComplex let-model="item" let-index="index">
			{{ model.formatted_address }}
		</ng-template>

		<input  formControlName="model" type="text"
				[(ngModel)]="asyncData"
				[typeahead]="dataSource"
				(typeaheadLoading)="changeTypeaheadLoading($event)"
				(typeaheadNoResults)="changeTypeaheadNoResults($event)"
				(typeaheadOnSelect)="typeaheadOnSelect($event)"
				typeaheadOptionsLimit="7"
				typeaheadMinLength="3"
				typeaheadWaitMs="1000"
				typeaheadOptionField="url"
				[typeaheadItemTemplate]="customItemTemplateComplex"
				placeholder="{{placeholder}}"
				(blur)="onBlur()"
				[ngClass]="{ 'text-indent-50': isFat && showIcon, 'form-control':!isFat }">
		<span class="clean-address" *ngIf="!!asyncData">
			<i class="al-icon icon-cross  text-muted" (click)="cleanUpPickup()"></i>
		</span>
		<div *ngIf="typeaheadLoading===true">
			<i class="fa fa-circle-o-notch fa-spin"></i>
		</div>
		<div *ngIf="typeaheadNoResults===true" class="" style="">
			<i class="fa fa-remove"></i> No Results Found
		</div>
	</div>
</form>
