@font-face {
	font-family: 'addison-lee';
	src:  url('./fonts/addison-lee.eot?zbk8ci');
	src:  url('./fonts/addison-lee.eot?zbk8ci#iefix') format('embedded-opentype'),
	url('./fonts/addison-lee.ttf?zbk8ci') format('truetype'),
	url('./fonts/addison-lee.woff?zbk8ci') format('woff'),
	url('./fonts/addison-lee.svg?zbk8ci#addison-lee') format('svg');
	font-weight: normal;
	font-style: normal;
}

.al-icon {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'addison-lee' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	font-size:40px;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-al-pin:before {
	content: "\e900";
}

.icon-pin-remove:before {
	content: "\e902";
}


.icon-pin-add:before {
	content: "\e901";
}


.icon-calendar:before {
	content: "\e903";
}


.icon-cross:before {
	content: "\e909";
}

.icon-wallet:before {
	content: "\e90f";
}
