@media (min-width: $screen-md-min) {
	.row {
		margin-left: -$gutter-size-desktop;
		margin-right: -$gutter-size-desktop;
	}

	[class*="col-"] {
		padding-left: $gutter-size-desktop;
		padding-right: $gutter-size-desktop;
	}
}
.form-control {
	box-shadow:none
}

.form-control:focus {
	border-color: $brand-p-1;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
a {
	color: $brand-s-3;
	text-decoration: none;
}
a:hover {
	color: $brand-s-6;
	text-decoration: none;
}

.well {
	background-color: #fff;
	border: solid 1px #EAEAEA;
	border-radius: 0;
	overflow: hidden;
}


.dropdown.open{
	.dropdown-menu {
		width: 100%;
		border-radius:0px;
		margin-top:1px;
		li{padding: 10px}
	}
}



