.btn-default {
	@include button-variant($btn-default-color, $btn-default-bg, $btn-default-border);
	&:hover,
	&:focus,
	&:active{
		background-color: $btn-default-bg-hover;
	}
}

.btn-primary {
	@include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
	&:hover,
	&:focus,
	&:active{
		background-color: $btn-primary-bg-hover;
	}
}

.btn-secondary {
	@include button-variant($btn-secondary-color, $btn-secondary-bg, $btn-secondary-border);
	&:hover,
	&:focus,
	&:active{
		background-color: $btn-secondary-bg-hover;
	}
}

.btn-tertiary {
	@include button-variant($btn-tertiary-color, $btn-tertiary-bg, $btn-tertiary-border);
	&:hover,
	&:focus,
	&:active{
		background-color: $btn-tertiary-bg-hover;
	}
}

.btn-xs {
	padding: 1px 20px;
}

.btn {
	border-radius: 0px;
}
