.c-input {
	position: relative;

	label {
		top: 14px;
		text-transform: uppercase;
		position: absolute;
		z-index: 1;
		@include font-size(1.0);
		font-weight: $font-weight-bold;
		color: $brand-s-2;
		line-height: 1;
		text-indent: 20px;
		padding-left: 1px;
	}
	input {
		width: 100%;
		max-height: 60px;
		@include font-size(1.3);
		color: $brand-s-2;
		background-color: #fff;
		padding: 34px 0 14px;
		border: 1px solid $input-border;
		text-indent: 20px;
		cursor: pointer;
	}

	@include lightBorders($input-border-light);
	@include transparentBorders();

	input:focus {
		outline-offset: -1px;
		outline: $brand-p-1 solid 1px;
	}
	.left-icon {
		position: absolute;
		z-index: 1;
		padding-left: 17px;
		padding-top: 10px;
		cursor: pointer;
	}
	.top-icon {
		position: absolute;
		z-index: 1;
		padding-left: 17px;
		padding-top: 10px;
	}
	.icon-al-pin:before {
		content: "\e900";
	}

	.text-indent-50 {
		text-indent: 50px;
	}

	.fa-refresh {
		top: 0;
		right: 15px;
	}

	.clean-address {
		top: 2px;
		position: absolute;
		padding: 10px;
		cursor: pointer;
	}

	.fa-circle-o-notch {
		position: absolute;
		top: 24px;
	}

}

.custom-input-child-wrapper custom-input-child:last-child input {
	border-bottom-color: $input-border;
}
