@import "mixins";

.form-control {
	border-radius: 0px;
}

/*Radio styles */
.radio {
	padding-left: 20px; }
.radio label {
	display: inline-block;
	position: relative;
	padding-left: 5px; }
.radio label::before {
	content: "";
	display: inline-block;
	position: absolute;
	width: 17px;
	height: 17px;
	left: 0;
	margin-left: -20px;
	border: 1px solid #cccccc;
	border-radius: 50%;
	background-color: #fff;
}
.radio label::after {
	display: inline-block;
	position: absolute;
	content: " ";
	width: 11px;
	height: 11px;
	left: 3px;
	top: 3px;
	margin-left: -20px;
	border-radius: 50%;
	background-color: #555555;
	-webkit-transform: scale(0, 0);
	-ms-transform: scale(0, 0);
	-o-transform: scale(0, 0);
	transform: scale(0, 0);
}
.radio input[type="radio"] {
	opacity: 0; }
.radio input[type="radio"]:focus + label::before {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px; }
.radio input[type="radio"]:checked + label::after {
	-webkit-transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	-o-transform: scale(1, 1);
	transform: scale(1, 1); }
.radio input[type="radio"]:disabled + label {
	opacity: 0.65; }
.radio input[type="radio"]:disabled + label::before {
	cursor: not-allowed; }
.radio.radio-inline {
	margin-top: 0; }

.radio-primary input[type="radio"] + label::after {
	background-color: $brand-s-3; }
.radio-primary input[type="radio"]:checked + label::before {
	border-color: $brand-s-3; }
.radio-primary input[type="radio"]:checked + label::after {
	background-color: $brand-s-3; }

/*checkbox */

.checkbox {
	padding-left: 20px; }
.checkbox label {
	display: inline-block;
	position: relative;
	padding-left: 5px; }
.checkbox label::before {
	content: "";
	display: inline-block;
	position: absolute;
	width: 17px;
	height: 17px;
	left: 0;
	margin-left: -20px;
	border: 1px solid #cccccc;
	border-radius: 3px;
	background-color: #fff;
}
.checkbox label::after {
	display: inline-block;
	position: absolute;
	width: 16px;
	height: 16px;
	left: 0;
	top: 0;
	margin-left: -20px;
	padding-left: 3px;
	padding-top: 1px;
	font-size: 11px;
	color: #555555; }

.checkbox input[type="checkbox"]:focus + label::before {
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px; }
.checkbox input[type="checkbox"]:checked + label::after {
	font-family: 'FontAwesome';
	content: "\f00c"; }
.checkbox input[type="checkbox"]:disabled + label {
	opacity: 0.65; }
.checkbox input[type="checkbox"]:disabled + label::before {
	background-color: #eeeeee;
	cursor: not-allowed; }
.checkbox-primary input[type="checkbox"]:checked + label::before {
	background-color: $brand-s-3;
	border-color: $brand-s-3; }
.checkbox-primary input[type="checkbox"]:checked + label::after {
	color: #fff; }



// custom input styles
//
//[class*="c-input"] input::-webkit-contacts-auto-fill-button {
//	margin-bottom: 10px;
//	margin-right: 10px;
//}
//
//
//
//.form-group :not(.c-input) {
//	i {
//		display: none;
//	}
//}
//.form-group.special {
//	margin-bottom:0px;
//
//	input {
//		border: none;
//	}
//}
//
//.sp-top-input-border{
//	border-top: 1px solid $input-border;
//	border-right: 1px solid $input-border;
//	border-bottom: 1px solid #efefef;
//	border-left: 1px solid $input-border;
//}
//.sp-bottom-left-border{
//	border-right: 1px solid #efefef;
//	border-bottom: 1px solid $input-border;
//	border-left: 1px solid $input-border;
//}
//
//.sp-bottom-right-border{
//	border-right: 1px solid $input-border;
//	border-bottom: 1px solid $input-border;
//}
//
//.sp-top-left-border{
//	border-right: 1px solid #efefef;
//	border-bottom: 1px solid #efefef;
//	border-left: 1px solid $input-border;
//	border-top: 1px solid $input-border;
//}
//
//.sp-top-right-border{
//	border-right: 1px solid $input-border;
//	border-bottom: 1px solid #efefef;
//	border-top: 1px solid $input-border;
//}
//
//.sp-l {
//	padding-left:0;
//}
//
//.sp-r {
//	padding-right:0;
//}
//
//@media (max-width: $screen-md-max) {
//	.sp-l{
//		padding-left:20px;
//	}
//
//	.sp-r{
//		padding-right:20px;
//	}
//
//	.sp-top-input-border{
//		border-top: 1px solid $input-border;
//		border-right: 1px solid $input-border;
//		border-bottom: 1px solid #efefef;
//		border-left: 1px solid $input-border;
//
//	}
//	.sp-bottom-left-border{
//		border-right: 1px solid $input-border;
//		border-bottom: 1px solid #efefef;
//		border-left: 1px solid $input-border;
//	}
//
//	.sp-bottom-right-border{
//		border-right: 1px solid $input-border;
//		border-bottom: 1px solid $input-border;
//		border-left: 1px solid $input-border;
//	}
//	.sp-top-left-border{
//		border-right: 1px solid $input-border;
//		border-bottom: none;
//		border-left: 1px solid $input-border;
//		border-top: 1px solid $input-border;
//	}
//
//	.sp-top-right-border{
//		border-right: 1px solid $input-border;
//		border-left: 1px solid $input-border;
//		border-top: 1px solid #efefef;
//	}
//}
//
//@media (max-width: $screen-sm-max) {
//	.sp-l{
//		padding-left:15px;
//	}
//
//	.sp-r{
//		padding-right:15px;
//	}
//	.sp-top-input-border{
//		border-top: 1px solid $input-border;
//		border-right: 1px solid $input-border;
//		border-bottom: 1px solid #efefef;
//		border-left: 1px solid $input-border;
//	}
//
//	.sp-bottom-left-border{
//		border-right: 1px solid $input-border;
//		border-bottom: 1px solid #efefef;
//		border-left: 1px solid $input-border;
//	}
//
//	.sp-bottom-right-border{
//		border-right: 1px solid $input-border;
//		border-bottom: 1px solid $input-border;
//		border-left: 1px solid $input-border;
//	}
//	.sp-top-left-border{
//		border-right: 1px solid $input-border;
//		border-bottom: none;
//		border-left: 1px solid $input-border;
//		border-top: 1px solid $input-border;
//	}
//
//	.sp-top-right-border{
//		border-right: 1px solid $input-border;
//		border-left: 1px solid $input-border;
//		border-top: 1px solid #efefef;
//	}
//}

//.form-group.c-dropdown {
//	position: relative;
//	label {
//		top: 14px;
//		text-transform: uppercase;
//		position: absolute;
//		font-size: 11px;
//		font-weight: bold;
//		color: $brand-s-3;
//		line-height: 1;
//		z-index:2;
//		text-indent: 20px;
//	}
//	.btn{
//		padding:30px;
//		text-indent: -10px;
//	}
//	.btn:focus{
//		outline-offset: -1px;
//		outline: $brand-p-1 solid 1px;
//		box-shadow: none;
//	}
//	.caret {
//		top:30px;
//	}
//	.dropdown-menu {
//		width: 100%;
//		border-radius:0px;
//		margin-top:1px;
//		li{padding: 10px}
//	}
//	.text-indent-50{
//		text-indent: 50px;
//	}
//	.text-indent-20{
//		text-indent: 20px;
//	}
//	i {
//		position:absolute;
//		padding-left: 17px;
//		padding-top: 17px;
//		font-size: 25px;
//		z-index:1;
//	}
//	.icon-al-pin:before {
//		content: "\e900";
//	}
//}
//
//.form-group :not(.c-dropdown){
//	i {
//		display: none;
//	}
//
//	.dropdown-menu {
//		width: 100%;
//		border-radius:0px;
//		margin-top:1px;
//		li{padding: 10px}
//	}
//}

[hidden] {
	display: none;
}

//input:disabled, .form-control:disabled {
//	color: $brand-s-2;
//	border-width: 0;
//	box-shadow: none;
//	background-color: $form-disabled;
//}
//
//.input-group-addon:first-child {
//	border-radius: 0;
//	border-width: 0;
//	color: $brand-s-2;
//	border-right: none;
//	background-color: white;
//}
//
//.input-group-addon:last-child {
//	border-left-color:white
//}
//
//.input-group.disabled {
//	background-color: $form-disabled;
//	.input-group-addon{
//		background-color: $form-disabled;
//	}
//}
//


// angular forms
input.ng-invalid.ng-touched, .form-touched input.ng-invalid, input.text-indent-50.ng-invalid,
select.ng-invalid.ng-touched, .form-touched select.ng-invalid{
	border-color: #e74c3c;
	background: #fff;
	box-shadow: none;
}

// custom placeholder
// do not group these rules //
$placeholder-color: #c0c0c0;

*::-webkit-input-placeholder {
	@include placeholder($placeholder-color, $font-weight-light);
}
*:-moz-placeholder {
	/* FF 4-18 */
	@include placeholder($placeholder-color, $font-weight-light);
}
*::-moz-placeholder {
	/* FF 19+ */
	@include placeholder($placeholder-color, $font-weight-light);
}
*:-ms-input-placeholder {
	/* IE 10+ */
	@include placeholder($placeholder-color, $font-weight-light);
}

