// TODO relocate these styles to appropriate file
typeahead-container {
	width: 100%;

	.dropdown-menu li a,
	.dropdown-menu li a:hover,
	.dropdown-menu > .active a,
	.dropdown-menu > .active a:hover {
		background-color: #fff;
		color: #333;
		padding: 0;
	}
	.dropdown-menu li a:hover {
		font-weight: bold;
	}
}

html {
	font-size: 62.5%;
}

body {
	padding: 0;
	background: $brand-s-4;
	color: $brand-s-2;
}



.inner-column-layout {
	background-color: $brand-s-4;
	position: relative;

	&.left-arrow::after {
		margin-top: 25px;
		position: absolute;
		top: 0;
		left: -10px;
		content: ' ';

		@include arrow(left, $brand-s-4, 10px);
	}
}

.column-layout,
.inner-column-layout {
	padding-top: $gutter-size-mobile;
	padding-bottom: $gutter-size-mobile;
	margin-bottom: $gutter-size-mobile;

	@media (min-width: $screen-md-min) {
		padding-top: $gutter-size-desktop;
		padding-bottom: $gutter-size-desktop;
		margin-bottom: $gutter-size-desktop;
	}
}

.title-icon {
	position: absolute;
	top: 15px;
	right: 15px;
	opacity: 0.2;
}
.inline-icon {
	padding: 5px;
}

.alert-primary {
	background-color: $brand-s-2;
	border-color: $brand-s-2;
	border-radius: 0;
	color:$brand-p-2;
}

.alert-secondary {
	background-color: $brand-s-1;
	border-color: $brand-s-1;
	border-radius: 0;
	color: $brand-s-2;
}

.ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

@media (min-width: $screen-lg-min) {
	.desktop-no-padding-right {
		padding-right: 0;
	}
}

@media(max-width: $screen-sm-max){
	.inner-column-layout {

		&.left-arrow::after {
			margin-top: 18px;
		}
	}
}
