// generate margin and padding helper classes - single direction
@for $i from 0 through 30 {
	@each $coordinate in top, left, bottom, right {
		.m-#{$coordinate}-#{$i}{
			margin-#{$coordinate}: $i + px;
		}
		.p-#{$coordinate}-#{$i}{
			padding-#{$coordinate}: $i + px;
		}
	}
}

// generate margin and padding helper classes - ALL directions
@for $i from 0 through 30 {
	.m-#{$i}{
		margin: $i + px;
	}
	.p-#{$i}{
		padding: $i + px;
	}
}

.display-block {
	display: block;
}
.display-inline-block {
	display: inline-block;
}
.position-relative {
	position: relative;
}

.no-gutter > [class*='col-'] {
	padding-right: 0;
	padding-left: 0;
}

// generates background color classes
@each $color, $code in $colorPalette {
	.bg-color-#{$color} {
		background: $code;
	}
}
