@import "../styles/brand-variables/brand";

.loading-box {
	height: 650px;
}
.logo.centered {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -8.1em;
	margin-top: -12em;
}
.loader.centered {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -3em;
	margin-top: -10em;
}
.loader {
	margin: 60px auto;
	font-size: 10px;
	position: relative;
	text-indent: -9999em;
	border-top: 0.3em solid $brand-s-3;
	border-right: 0.3em solid $brand-s-3;
	border-bottom: 0.3em solid $brand-s-3;
	border-left: 0.3em solid $brand-s-6;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-animation: load8 1.1s infinite linear;
	animation: load8 1.1s infinite linear;
	z-index: 10;
}
.loader,
.loader:after {
	border-radius: 50%;
	width: 6em;
	height: 6em;
}
@-webkit-keyframes load8 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes load8 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
