@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";

@mixin font-size($sizeValue) {
	font-size: ($sizeValue * 10) + px;
	font-size: $sizeValue + rem;
}

@mixin placeholder($colorValue, $fontWeightValue) {
	color: $colorValue;
	font-weight: $fontWeightValue;
}

@mixin arrow($direction, $color, $size) {
	width: 0;
	height: 0;

	@if $direction == 'top' {
		border-right: $size solid transparent;
		border-bottom: $size solid $color;
		border-left: $size solid transparent;
	}

	@if $direction == 'right' {
		border-top: $size solid transparent;
		border-bottom: $size solid transparent;
		border-left: $size solid $color;
	}

	@if $direction == 'bottom' {
		border-left: $size solid transparent;
		border-right: $size solid transparent;
		border-top: $size solid $color;
	}

	@if $direction == 'left' {
		border-top: $size solid transparent;
		border-right: $size solid $color;
		border-bottom: $size solid transparent;
	}
}

@mixin lightBorders($color) {
	@media (min-width: $screen-md) {
		.border-light-top {
			border-top-color: $color;
		}
		.border-light-bottom {
			border-bottom-color: $color;
		}
		.border-light-right {
			border-right-color: $color;
		}
		.border-light-left {
			border-left-color: $color;
		}
	}
}

@mixin transparentBorders() {
	.border-transparent-top {
		border-top-color: transparent;
	}
	.border-transparent-bottom {
		border-bottom-color: transparent;
	}

	@media (min-width: $screen-md) {
		.border-transparent-right {
			border-right-color: transparent;
		}
		.border-transparent-left {
			border-left-color: transparent;
		}
	}
}
