thead {
	background: $brand-s-3;
	color: #fff;
}

.table-hover>tbody>tr:hover>td, .table-hover>tbody>tr:hover>th {
	background-color:#000;
	color: #fff;
}

.pagination > .active > a,
.pagination > .active > a:hover,
.pagination > .active > a:focus,
.pagination > .active > span,
.pagination > .active > span:hover,
.pagination > .active > span:focus {
	z-index: 3;
	color: #000 !important;
	background-color: #eee !important;
	border-color: #eee !important;
	cursor: default;
}
