body {
	@include font-size($font-size-base);
	font-weight: $font-weight-normal;
	font-family: $font-family;
}
strong {
	font-weight: $font-weight-bold;
}
h1, h2, h3 {
	margin: 0 0 15px 0;
	font-weight: $font-weight-light;
	@include font-size($heading-font-size);
}

// generates anchor color classes
@each $color, $code in $colorPalette {
	.a-#{$color} {
		color: $code;

		&:hover {
			color: $code;
		}
	}
}

// generates text color and bg color classes
@each $color, $code in $colorPalette {
	.text-color-#{$color} {
		color: $code;
	}
	.bg-color-#{$color} {
		background-color: $code;
	}
}
