
// point bootstrap and font awesome font path to bower components folder
$icon-font-path: "../../node_modules/bootstrap-sass/assets/fonts/bootstrap/";
$fa-font-path:   "../../node_modules/font-awesome/fonts";

// TODO remove this external http request
@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700');

@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap.scss";
//@import "../../font-awesome/scss/font-awesome.scss";
@import "../../node_modules/dragula/dist/dragula.css";
// brand
@import "brand-variables/brand";

@import "bootstrapOverride";

// common
@import "addisonLee-font";
@import "mixins";
@import "global";
@import "button";
@import "helpers";
@import "typography";
@import "table";
@import "forms";
@import "custom-input";
@import "loader";
