@import "../../../styles/brand-variables/brand";
@import "../../../styles/mixins";
@import "../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";

.service-wrapper {
	padding: 10px;
	background-color: #fff;
	cursor: pointer;
	opacity: 0.5;
	border: 1px solid #fff;
	margin-top: 20px;

	&:hover,
	&:focus{
		opacity:1;
		border: 1px solid $brand-p-1;
	}

	&.active {
		opacity:1;
		border: 1px solid $brand-p-1;
	}

	// up to 767px
	@media (max-width: $screen-xs-max) {
		width: 100%;
	}

	// 768px - 1199px
	@media (min-width: $screen-sm-min) and (max-width: $screen-md-max) {
		margin-left: 20px;
		float: left;
		width: calc(50% - 10px);

		&:nth-child(2n+1) {
			margin-left: 0;
		}
	}

	// 1200px+
	@media (min-width: $screen-lg-min) {
		margin-left: 20px;
		float: left;
		width: calc(33.33% - 14px);

		&:nth-child(3n+1) {
			margin-left: 0;
		}
	}
}
