<custom-panel
	[title]="'SERVICES.TITLE' | translate"
	[step]="index"
	class="clearfix">

	<div *ngIf="!serviceCatalogList?.length" class="m-top-20">
		<i class="fa fa-circle-o-notch fa-spin m-right-5"></i>
		{{ 'SERVICES.LOADING' | translate }}
	</div>

	<div class="service-wrapper text-center"
		*ngFor="let car of serviceCatalogList"
		(click)="selectCatalogService(car.vehicles[0])"
		[ngClass]="{ 'active': selectedServiceCatalog.id ===  car.vehicles[0].id }">

		<!-- category -->
		<h4>{{ car.description }}</h4>

		<!-- description-->
		<small [translate]="'SERVICES.DESCRIPTION'" [translateParams]="{ value : car?.vehicles.length > 0 ? car.vehicles[0].passengers: '' }"></small>

		<img class="img-responsive center-block m-top-15 m-bottom-15"
			alt="{{car?.vehicles.length > 0 ? car.vehicles[0].make: '' }} {{ car?.vehicles.length > 0 ? car.vehicles[0].model: ''  }}"
			src="{{ car?.vehicles.length > 0 ? car.vehicles[0].image: ''  }}">

		<i class="fa fa-briefcase" aria-hidden="true"></i> {{ car?.vehicles.length > 0 ? car.vehicles[0].items: [] }}
		<i class="fa fa-user m-left-10" aria-hidden="true"></i> {{ car?.vehicles.length > 0 ? car.vehicles[0].passengers: '' }}
	</div>

</custom-panel>
