<div  class="{{classToApply}}" [ngClass]="{ 'col-lg-12' : true }">
	<h2>{{ 'BOOKING_CONFIRMATION.TITLE' | translate }}</h2>
	<p>{{ 'BOOKING_CONFIRMATION.BOOKING_COMPLETE_TEXT' | translate }}</p>
</div>
