@import "../../../../styles/brand-variables/brand";
@import "../../../../styles/mixins";
@import "../../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";

.milestone {
	position: relative;

	&.added {
		border-left-color: $brand-p-1;
	}
	&:last-child {
		// border-color: transparent;
	}
}

.milestone.last {
	 border-color: transparent;
}



.skinny-icon {
	left: 18px;
}

@media (max-width: $screen-md-max) {

	.fa-map-marker,
	.fa-user,
	.fa-car,
	.fa-credit-card {
		width: calc(50% + 10px);
		text-align: left;
		border-right: solid 1px $brand-s-2;
		float: left;
		@include font-size(2.4);

		&.added {
			color: $brand-p-1;
		}
		&::before {
			position: relative;
		}
		&.fa-car::before,
		&.fa-credit-card::before {
			left: -5px;
		}
		&.fa-user::before {
			left: -2px;
		}
	}


	.fa-check {
		color: $brand-p-1;
		position: absolute;
		left: 25px;
		&.skinny-icon {
			left: 18px;
		}


	}
	.milestone {

		width: 25%;
		margin: 15px 0;
		display: inline-block;
	}

	.milestone.last {
		width: auto;
	}

	.milestone.last {
		border: none;
	}

	.added.milestone {
		border-color: $brand-p-1;
	}
	.milestone::before {
		display: none;
	}

}

@media (min-width: $screen-lg) {

	.milestone {
		border-left: solid 2px $brand-s-7;
		padding: 0 0 15px 25px;
		margin-left: 10px;
	}
	.milestone::before {
		display: block;
		content: '';
		height: 22px;
		width: 22px;
		border-radius: 100%;
		border: solid 2px $brand-s-7;
		background-color: $brand-p-4;
		position: absolute;
		z-index: 1;
		left: -12px;
	}
	.added.milestone::before {
		background-color: $brand-p-1;
		border-color: transparent;
	}
	.fa-check {
		position: absolute;
		left: -7px;
		z-index: 1;
		top: 5px;
		color: $brand-p-4;
	}

}
