
<div class="milestone" [ngClass]="{ 'added':handleMilestoneStatus(),'last': step===4}">
	<i class="fa fa-check" [ngClass]="{ 'skinny-icon': skinnyIcon}" *ngIf="handleMilestoneStatus()"></i>
	<i class="fa fa-{{icon}} hidden-lg" [ngClass]="{ 'added':handleMilestoneStatus()}"></i>
	<div class="visible-lg">
		<div class="text-color-s-3">
			{{ title | translate }}
		</div>
		<div class="ellipsis">
			{{ dataToRender ? (dataToRender | translate) :'SUMMARY_WIDGET.INFORMATION_REQUIRED' | translate}}
		</div>
		<div *ngIf="step===1">
			<div class="m-top-15 text-color-s-3" >
				{{ 'SUMMARY_WIDGET.TO' | translate }}
			</div>
			<div class="ellipsis">
				{{  dataExtraToRender?dataExtraToRender:'SUMMARY_WIDGET.INFORMATION_REQUIRED' | translate}}
			</div>
		</div>
	</div>
</div>
