<div class="c-input" [formGroup]="parent">
	<label [ngClass]="{'text-indent-50': isFat && showIcon}" [hidden]="label === '' && !isFat">
		{{ label }}
	</label>
	<i class="al-icon {{icon}} text-color-s-3" *ngIf="!isFa" [hidden]="!showIcon"></i>
	<i class="fa {{icon}} text-color-s-3" *ngIf="isFa" [hidden]="!showIcon"></i>
	<input
		type="text"
		[ngClass]="{
			'text-indent-50': showIcon,
			'form-control': !isFat,
			'border-light-top': lightBorder.indexOf('top') > -1,
			'border-light-right': lightBorder.indexOf('right') > -1,
			'border-light-bottom': lightBorder.indexOf('bottom') > -1,
			'border-light-left': lightBorder.indexOf('left') > -1,
			'border-transparent-top': transparentBorder.indexOf('top') > -1,
			'border-transparent-right': transparentBorder.indexOf('right') > -1,
			'border-transparent-bottom': transparentBorder.indexOf('bottom') > -1,
			'border-transparent-left': transparentBorder.indexOf('left') > -1
		}"
		placeholder="{{ placeholder }}"
		[required]="true"
		(blur)="onBlur()"
		formControlName="{{ name }}" />
</div>
