<nav class="navbar navbar-default navbar-static-top" >
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img alt="Brand" src="assets/img/logo.svg" height="42px" />
            </a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right" >
                <li><a href="#">{{'HEADER.USER_NAME' | translate}}</a></li>
                <li><a href="#">{{'HEADER.ACCOUNT_NAME' | translate}}</a></li>
                <li><a href="#">{{'HEADER.PIN' | translate}}</a></li>
                <li>
                    <a href="#">
                        <i class="fa fa-envelope"></i> <span class="label label-warning">16</span>
                    </a>
                </li>
                <li><a href="#" class="logout"> <i class="fa fa-sign-out"></i> {{'HEADER.LOGOUT' | translate}}</a></li>
            </ul>
        </div>
    </div>
</nav>

<nav class="navbar navbar-inverse" >
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"  (click)="isCollapsed=!isCollapsed" >
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                {{'HEADER.APP_NAME' | translate}}
            </a>
        </div>
        <div class="navbar-collapse" [collapse]="isCollapsed" >
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">{{'HEADER.MAIN_MENU' | translate}}</a></li>
                <li><a [routerLink]="['/dashboard']" routerLinkActive="active">{{'HEADER.DASHBOARD' | translate}}</a></li>
                <li><a href="#">{{'HEADER.ALL_BOOKINGS' | translate}}</a></li>
                <li><a href="#">{{'HEADER.ADDRESSES' | translate}}</a></li>
                <li><a [routerLink]="['/profile-list']" routerLinkActive="active"
					[routerLinkActiveOptions]="{exact: true}">{{'HEADER.PROFILE_LIST' | translate}}</a>
				</li>
            </ul>
        </div>
    </div>
</nav>
