@import "../../../styles/brand-variables/brand";
@import "../../../styles/mixins";
@import "../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";

$header-nav-height: 62px;

nav {
	border-radius: 0;
}

.navbar-brand {
	padding-top: 10px;
}

.navbar.navbar-static-top {
	height: $header-nav-height;
	background-color: #fff;
	margin-bottom: 0;

	a {
		@include font-size($font-size-base);
		color: #b3b3b3;
		font-weight: $font-weight-light;

		&:hover,
		&:focus {
			background-color: transparent;
		}
		&:hover {
			color: lighten($brand-s-1, 20%);
		}
	}

	li {
		display: inline-block;
	}
	.logout {
		color: $brand-s-1;
	}
	.count-info {
		position: relative;
	}
	.label {
		line-height: 12px;
		padding: 2px 5px;
		position: absolute;
		right: 3px;
		top: 8px;
		background-color: $brand-s-1;
		font-weight: $font-weight-normal;
	}

	.navbar-right {
		margin-top: 7px;
	}

}

.navbar-inverse {
	background-color: $brand-s-2;
	border: 1px solid $brand-s-2;

	.navbar-header {
		height: $header-nav-height;
	}

	a {
		line-height: 10px;
		@include font-size(1.4);
		font-weight: $font-weight-light;
	}
	a.active {
		font-weight: $font-weight-medium;
		position: relative;
		color: #fff;
	}
	a:hover, a:focus {
		background: none;
		color: white;
	}

	.navbar-toggle {
		background-color: $brand-p-1;
		color: #fff;
		@include font-size(1.4);
		margin-top: 15px;
		i {
			color: #fff;
		}
	}
	.navbar-brand {
		color: #fff;
		padding: 31px 15px;
		@include font-size(2.1);
		font-weight: $font-weight-light;
	}
	.navbar-collapse {
		padding-right: 0;
	}
}

@media (min-width: $screen-sm) {
	.navbar-inverse {
		.active::after {
			position: relative;
			display: block;
			content: " ";
			bottom: -11px;
			margin: 0 auto;
			text-align: center;
			@include arrow(top, $brand-s-4, 8px);
		}
		a {
			height: $header-nav-height;
			padding-top: 34px;
		}
	}
}

@media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
	.navbar-inverse a {
		padding-left: 0;
	}
}
