<div class="col-lg-6 " [ngClass]="{'sp-r': isFat}">
	<div class="form-group"
		 [ngClass]="{'c-input special sp-top-left-border':isFat}">
		<label [ngClass]="{'text-indent-50': isFat && showIconTopLeft}" [hidden]="labelTopLeft === '' && !isFat">{{labelTopLeft}}</label>
		<i class="al-icon {{iconTopLeft}} text-color-s-3"  *ngIf="!isFaTopLeft" [hidden]="!showIconTopLeft"></i>
		<i class="fa {{iconTopLeft}} text-color-s-3"  *ngIf="isFaTopLeft" [hidden]="!showIconTopLeft"></i>
		<input
			type="text"
			[ngClass]="{'text-indent-50': isFat && showIconTopLeft,'form-control':!isFat}"
			placeholder={{placeholderTopLeft}}
			[(ngModel)]="model" [required]="true"/>
	</div>
</div>

<div class="col-lg-6" [ngClass]="{'sp-l': isFat}">
	<div class="form-group"
		 [ngClass]="{'c-input special sp-top-right-border':isFat}">
		<label [ngClass]="{'text-indent-50': isFat && showIconTopRight}" [hidden]="labelTopRight === '' && !isFat">{{labelTopRight}}</label>
		<i class="al-icon {{iconTopRight}} text-color-s-3"  *ngIf="!isFaTopRight" [hidden]="!showIconTopRight"></i>
		<i class="fa {{iconTopRight}} text-color-s-3"  *ngIf="isFaTopRight" [hidden]="!showIconTopRight"></i>
		<input
			type="text"
			[ngClass]="{'text-indent-50': isFat && showIconTopRight,'form-control':!isFat}"
			placeholder={{placeholderTopRight}}
			[(ngModel)]="model" [required]="true"/>
	</div>
</div>

<div class="col-lg-6 " [ngClass]="{'sp-r': isFat}">
	<div class="form-group"
		 [ngClass]="{'c-input special sp-bottom-left-border':isFat}">
		<label [ngClass]="{'text-indent-50': isFat && showIconBottomLeft}" [hidden]="labelBottomLeft === '' && !isFat">{{labelBottomLeft}}</label>
		<i class="al-icon {{iconBottomLeft}} text-color-s-3"  *ngIf="!isFaBottomLeft" [hidden]="!showIconBottomLeft"></i>
		<i class="fa {{iconBottomLeft}} text-color-s-3"  *ngIf="isFaBottomLeft" [hidden]="!showIconBottomLeft"></i>
		<input
			type="text"
			[ngClass]="{'text-indent-50': isFat && showIconBottomLeft,'form-control':!isFat}"
			placeholder={{placeholderBottomLeft}}
			[(ngModel)]="model" [required]="true"/>
	</div>
</div>

<div class="col-lg-6" [ngClass]="{'sp-l': isFat}">
	<div class="form-group"
		 [ngClass]="{'c-input special sp-bottom-right-border':isFat}">
		<label [ngClass]="{'text-indent-50': isFat && showIconBottomRight}" [hidden]="labelBottomRight === '' && !isFat">{{labelBottomRight}}</label>
		<i class="al-icon {{iconBottomRight}} text-color-s-3"  *ngIf="!isFaBottomRight" [hidden]="!showIconBottomRight"></i>
		<i class="fa {{iconBottomRight}} text-color-s-3"  *ngIf="isFaBottomRight" [hidden]="!showIconBottomRight"></i>
		<input
			type="text"
			[ngClass]="{'text-indent-50': isFat && showIconBottomRight,'form-control':!isFat}"
			placeholder={{placeholderBottomRight}}
			[(ngModel)]="model" [required]="true"/>
	</div>
</div>
