<form [formGroup]="form" (ngSubmit)="submit()" *ngIf="showVerifyForm">
	<div class="row" >
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-top-30" *ngIf="type === 'P'">
			<h3 class="m-bottom-5">{{ 'VERIFY.VERIFY_MOBILE_TITLE' | translate }}</h3>
			<p>{{ 'VERIFY.VERIFY_MOBILE_COPY' | translate }} <a class="text-color-p-1">send</a></p>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-top-30" *ngIf="type ==='E'">
			<h3 class="m-bottom-5">{{ 'VERIFY.VERIFY_EMAIL_TITLE' | translate }}</h3>
			<p>{{ 'VERIFY.VERIFY_EMAIL_COPY' | translate }} <a class="text-color-p-1">send</a></p>
		</div>
	</div>
	<div class="row m-top-10" >
		<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 m-top-0">
			<!-- verification code -->
			<fieldset>
				<label for="verficationCode">{{ 'PERSONAL_INFO.VERFICATION_CODE' | translate }}</label>
				<input type="text"
					   class="form-control"
					   id="verficationCode"
					   placeholder="{{ 'VERIFY.VERFICATION_CODE_PLACEHOLDER' | translate }}"
					   formControlName="verficationCode" />

				<!-- empty error message -->
				<div *ngIf="form.controls['verficationCode'].hasError('required') && isSubmitted"
					 class="help-block">
					<span class="text-danger">{{ 'VERIFY.FORM_ERROR.VERIFICATION' | translate }}</span>
				</div>

				<!-- min length error message -->
				<div *ngIf="form.controls['verficationCode'].hasError('minlength') && isSubmitted"
					 class="help-block">
						<span class="text-danger">
							{{ 'VERIFY.FORM_ERROR.VERIFICATION_MINLENGTH' | translate }}
						</span>
				</div>

				<!-- TODO - add VERIFICATION_INVALID & VERIFICATION_EXPIRED error messages and logic -->
				<!-- TODO - when requirements/backend is ready -->
			</fieldset>
		</div>
		<!-- buttons -->
		<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-right">
			<!-- cancel -->
			<button type="button" class="btn btn-secondary m-right-10 m-top-23"
					(click)="cancelMobileVerification()">
				{{ 'PROFILE.CANCEL_BTN' | translate }}
			</button>

			<!-- verify -->
			<button type="submit" class="btn btn-tertiary m-top-23">
				{{ 'VERIFY.VERIFY_BTN' | translate }}
			</button>
		</div>
	</div>
</form>
<div [hidden]="!verified" class="alert alert-success m-top-20 m-bottom-0" role="alert">
	{{ type === 'P'?'VERIFY.FORM_SUCCESS.MOBILE_VERIFIED':'VERIFY.FORM_SUCCESS.EMAIL_VERIFIED'| translate }}
</div>
