<div class="container">
	<div clas="row">
		<div class="well">
			<booking-confirmation-title [classToApply]="'visible-sm visible-xs'"></booking-confirmation-title>


			<div class="col-md-4 col-md-push-8 ">
				<div class=" sebm-google-map-container ">
					<agm-map
						[zoom]="zoom"
						[latitude]="latitude"
						[longitude]="longitude"
						[zoomControl]="false"
						[disableDefaultUI]="false">
						<agm-map-directions [origin]="origin" [destination]="destination"></agm-map-directions>
					</agm-map>
				</div>
				<div class="clearfix visible-xs visible-sm">&nbsp;</div>
				<div class="row hidden-xs hidden-sm">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-top-20 m-bottom-15">
						<booking-confirmation-buttons [bookingReference]="bookingData?.bookingReference"></booking-confirmation-buttons>
					</div>
				</div>
			</div>
			<div class="col-md-8 col-md-pull-4 ">
				<div class="row">

					<booking-confirmation-title [classToApply]="'hidden-sm hidden-xs'" ></booking-confirmation-title>

					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 ">
						<input-data
							[title]="'BOOKING_CONFIRMATION.BOOKING_NUMBER' | translate"
							[icon]="'hashtag'"
							[inputValue]="bookingData?.bookingReference">
						</input-data>
					</div>
				</div>
				<div class="row">

					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<input-data
							[title]="'BOOKING_CONFIRMATION.PICK_UP' | translate"
							[icon]="'map-marker'"
							[inputValue]="bookingData?.origin['formatted_address']">
						</input-data>
					</div>

					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<input-data
							[title]="'BOOKING_CONFIRMATION.DROP_OFF' | translate"
							[icon]="'map-marker'"
							[inputValue]="bookingData?.destination['formatted_address']">
						</input-data>
					</div>

					<div *ngFor="let stop of bookingData?.waypoints; let index = index">
						<drop-off [index]="index" [model]="stop">
						</drop-off>

					</div>

				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
						<input-data
							[title]="'BOOKING_CONFIRMATION.DATE_OF_JOURNEY' | translate"
							[icon]="'calendar-check-o'"
							[inputValue]="bookingData?.journey['time'] | date">
						</input-data>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
						<input-data
							[title]="'BOOKING_CONFIRMATION.PICK_UP_TIME' | translate"
							[icon]="'clock-o'"
							[inputValue]="bookingData?.journey['time'] | date:'shortTime'">
						</input-data>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
						<input-data
							[title]="'BOOKING_CONFIRMATION.EST_JOURNEY_TIME' | translate"
							[icon]="'clock-o'"
							[inputValue]="bookingData?.estimatedTime | translate">
						</input-data>
					</div>

					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
						<input-data
							[title]="'BOOKING_CONFIRMATION.PASSENGER_INFO' | translate"
							[icon]="'user-circle-o'"
							[inputValue]="bookingData?.passenger['namePassenger']">
						</input-data>
					</div>

					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
						<input-data
							[title]="'BOOKING_CONFIRMATION.VEHICLE' | translate"
							[icon]="'car'"
							[inputValue]="bookingData?.service['name']">
						</input-data>
					</div>

					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
						<input-data
							[title]="'BOOKING_CONFIRMATION.PAYMENT' | translate"
							[icon]="'credit-card'"
							[inputValue]="bookingData?.payment | translate">
						</input-data>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<input-data
							[title]="'BOOKING_CONFIRMATION.SPECIAL_INSTRUCTION' | translate"
							[icon]="'pencil-square-o'"
							[inputValue]="'Please pick up from the front of the building'"
							*ngIf="bookingData?.driverNote !== '0'">
						</input-data>
					</div>

					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
						<input-data
							[title]="'BOOKING_CONFIRMATION.PRICE' | translate"
							[inputValue]="'&pound;' + bookingData?.price?.quotes[0].total">
						</input-data>
					</div>

					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
						<input-data
							[title]="'BOOKING_CONFIRMATION.STATUS' | translate"
							[inputValue]="bookingData?.status[0]">
						</input-data>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-8 m-top-20 visible-xs visible-sm">
						<booking-confirmation-buttons [bookingReference]="bookingData?.bookingReference"></booking-confirmation-buttons>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
