@import "../../../styles/brand-variables/brand";
@import "../../../styles/mixins";

@include lightBorders($input-border-light);
@include transparentBorders();

.c-input-btn:hover {
	outline-offset: -1px;
	outline: $input-border-hover solid 1px;
}

.btn {
	height: 60px;
	border: 1px solid $input-border;
	width: 60px;
}

.clean-address {
	right: 65px;
}

.add-waypoint {
	border-left: solid 1px $input-border;
	height: 58px;
	width: 60px;
	position: absolute;
	right: 0;
	top: 1px;

	i {
		margin-top: 10px;
		display: block;

		&:hover {
			color: #DCD4AB;
		}
	}

	&:hover {
		cursor: pointer;
	}
}

.fa-circle-o-notch {
	right: 100px;
}
