
<div class="loader centered" *ngIf="loading"></div>
<header-global *ngIf="shouldShowHeader()"></header-global>
<router-outlet></router-outlet>
<footer-global *ngIf="shouldShowHeader()"></footer-global>


