<form [formGroup]="form" (ngSubmit)="submit()">
	<div class="form-group">
		<input type="email" class="form-control" placeholder="{{ 'LOGIN-FORM.USERNAME_PLACEHOLDER' | translate }}"
			formControlName="email" required>
		<div *ngIf="form.controls.email.errors && form.controls.email.touched" class="alert alert-danger">
			<span>{{ 'LOGIN-FORM.INVALID-EMAIL-ERROR' | translate }}</span>
		</div>
	</div>
	<div class="form-group">
		<input type="password" class="form-control" placeholder="{{ 'LOGIN-FORM.PASSWORD_PLACEHOLDER' | translate }}"
			formControlName="password" required />
	</div>
	<button type="submit" class="btn btn-primary btn-block" [disabled]="!form.valid">
		{{ 'LOGIN-FORM.LOGIN-BTN' | translate }}
	</button>
</form>
