<div class="login-bg">
	<div class="row">
		<div class="col-lg-12">
			<div class="login-wrapper">
				<img alt="Brand" src="../../assets/img/login-logo.svg" />
				<h2 class="text-center"> {{ 'LOGIN.TITLE' | translate }}</h2>
				<login-form></login-form>
				<login-link></login-link>
				<button type="submit" class="btn btn-secondary btn-block">
					{{ 'LOGIN.CREATE-ACCOUNT-BTN' | translate }}
				</button>
				<div class="text-center m-top-20">
					<!-- TODO ensure text-color-$ class style is inherited from typography -->
					<span class="small text-color-p1" [innerHTML]="'LOGIN.COPY-RIGHT-TXT' | translate"></span>
				</div>
			</div>
		</div>
	</div>
</div>

