@import "../../../styles/brand-variables/brand";
@import "../../../styles/mixins";

.login-bg {
	background-image: url("/assets/img/login-splash.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	height: 100vh;
	overflow: hidden;
}

.login-wrapper {
	padding-top: 118px;
	width: 300px;
	margin: 0 auto;
}

h2 {
	padding-top: 60px;
	color: #f3f3f4;
	margin-bottom: 10px;
}

a {
	margin-bottom: 5px;
}

.small{
	color: #fff;
}
