<div class="container">
	<div class="row">
		<div class="col-lg-8 desktop-no-padding-right">
			<!-- my booking tools -->
			<div class="well">
				<h2 class="m-bottom-0">{{ 'HOME_TILE.BOOKING_TOOLS.TITLE' | translate }}</h2>
				<home-tile [name]="'HOME_TILE.BOOKING_TOOLS.TAKE_ME_HOME' | translate" [route]="['takeMeHome']"
						   [image]="'take-me-home'"></home-tile>
				<home-tile [name]="'HOME_TILE.BOOKING_TOOLS.PICKUP_AT_AIRPORT' | translate" [route]="['airportPickup']"
						   [image]="'airport-pickup'"></home-tile>
				<home-tile [name]="'HOME_TILE.BOOKING_TOOLS.DROP_AT_AIRPORT' | translate" [route]="['dropAtAirport']"
						   [image]="'drop-at-airport'"></home-tile>
				<home-tile [name]="'HOME_TILE.BOOKING_TOOLS.BOOK_A_TO_B' | translate" [route]="['a-to-b']"
						   [image]="'book-a-to-b'"></home-tile>
			</div>
			<!-- my bookings -->
			<div class="well">
				<h2 class="m-bottom-0">{{ 'HOME_TILE.MY_BOOKING.TITLE' | translate }}</h2>
				<home-tile [name]="'HOME_TILE.MY_BOOKING.TRAVEL_HISTORY' | translate" [route]="['travelHistory']"
						   [image]="'travel-history'"></home-tile>
				<home-tile [name]="'HOME_TILE.MY_BOOKING.TRAVEL_PENDING' | translate" [route]="['travelPending']"
						   [image]="'travel-pending'"></home-tile>
				<home-tile [name]="'HOME_TILE.MY_BOOKING.FAVOURITE_JOURNEYS' | translate" [route]="['favouriteJourneys']"
						   [image]="'favourite-journeys'"></home-tile>
			</div>
			<!-- policy -->
			<div class="well">
				<h2 class="m-bottom-0">{{ 'HOME_TILE.POLICY.TITLE' | translate }}</h2>
				<home-tile [name]="'HOME_TILE.POLICY.TITLE' | translate" [route]="['policy']"
						   [image]="'policy'"></home-tile>
			</div>
		</div>
		<!-- notice-board -->
		<div class="col-lg-4">
			<div class="well">
				<notice-board></notice-board>
			</div>
		</div>
	</div>
</div>
