<form [formGroup]="form" >
	<div class="c-input-btn" [ngClass]="{'c-input': isFat}">
		<label [ngClass]="{'text-indent-50': isFat && showIcon}" [hidden]="label === '' && !isFat">{{label}} {{index+2}}</label>
		<i class="left-icon al-icon {{icon}} text-color-s-3"  *ngIf="!isFa" [hidden]="!showIcon"></i>
		<i class="left-icon fa {{icon}} text-color-s-3"  *ngIf="isFa" [hidden]="!showIcon"></i>

		<ng-template #customItemTemplateComplex let-model="item" let-index="index">
			{{ model.formatted_address }}
		</ng-template>
		<input  formControlName="model" type="text"
				[(ngModel)]="asyncData"
				[typeahead]="dataSource"
				(typeaheadLoading)="changeTypeaheadLoading($event)"
				(typeaheadNoResults)="changeTypeaheadNoResults($event)"
				(typeaheadOnSelect)="typeaheadOnSelect($event)"
				typeaheadOptionsLimit="7"
				typeaheadMinLength="3"
				typeaheadWaitMs="1000"
				typeaheadOptionField="url"
				[typeaheadItemTemplate]="customItemTemplateComplex"
				placeholder="{{placeholder}}"
				(blur)="onBlur()"
				[ngClass]="{
					'text-indent-50': isFat && showIcon,
					'form-control': !isFat,
					'border-light-top': lightBorder.indexOf('top') > -1,
					'border-light-right': lightBorder.indexOf('right') > -1,
					'border-light-bottom': lightBorder.indexOf('bottom') > -1,
					'border-light-left': lightBorder.indexOf('left') > -1,
					'border-transparent-top': transparentBorder.indexOf('top') > -1,
					'border-transparent-right': transparentBorder.indexOf('right') > -1,
					'border-transparent-bottom': transparentBorder.indexOf('bottom') > -1,
					'border-transparent-left': transparentBorder.indexOf('left') > -1
				}">

		<span class="clean-address" *ngIf="!!asyncData">
			<i class="al-icon icon-cross text-muted" (click)="cleanUpAddress()"></i>
		</span>

		<i *ngIf="typeaheadLoading===true" class="fa fa-circle-o-notch fa-spin"></i>

		<span class="add-waypoint text-center" [hidden]="!isFat" type="button" (click)="removeWaypoint()">
			<i class="al-icon icon-pin-remove text-color-s-3"></i>
		</span>
	</div>
</form>
