<div class="row">
	<div class="col-xs-6 col-sm-6 col-md-8 col-lg-6 m-bottom-15">
		<button class="btn btn-secondary btn-block " type="button" [routerLink]="['/dashboard/a-to-b/booking-confirmation/'+bookingReference+'/edit']" >{{
			'BOOKING_CONFIRMATION.EDIT_BTN' | translate }}
		</button>
	</div>
	<div class="col-xs-6 col-sm-6 col-md-8 col-lg-6 m-bottom-15" (click)="cancelBooking()">
		<button class="btn btn-secondary btn-block " type="button">{{
			'BOOKING_CONFIRMATION.CANCEL_BTN' | translate }}
		</button>
	</div>

	<div class="col-xs-6 col-sm-6 col-md-8 col-lg-6 m-bottom-15">
		<button class="btn btn-secondary btn-block " type="button">{{
			'BOOKING_CONFIRMATION.RESEND_RECEIPT_BTN' | translate }}
		</button>
	</div>
	<div class="col-xs-6 col-sm-6 col-md-8 col-lg-6 m-bottom-15">
		<button class="btn btn-secondary btn-block " type="button">{{
			'BOOKING_CONFIRMATION.REPEAT_BTN' | translate }}
		</button>
	</div>
	<div class="col-xs-6 col-sm-6 col-md-8 col-lg-6 m-bottom-15">
		<button class="btn btn-secondary btn-block m-bottom-15" type="button">{{
			'BOOKING_CONFIRMATION.RETURN_BTN' | translate }}
		</button>
	</div>

	<div class="col-xs-12">
		<button class="btn btn-primary btn-block" type="button">{{
			'BOOKING_CONFIRMATION.NEW_BOOKING_BTN' | translate }}
		</button>
	</div>
</div>





