$btn-default-color: $brand-p-2;
$btn-default-bg: $brand-p-1;
$btn-default-bg-hover: $brand-p-1;
$btn-default-border: $brand-p-1;

$btn-primary-color: $brand-p-2;
$btn-primary-bg: $brand-p-1;
$btn-primary-bg-hover: $brand-p-1;
$btn-primary-border: $brand-p-1;

$btn-secondary-color: $brand-p-2;
$btn-secondary-bg: $brand-p-1;
$btn-secondary-bg-hover: $brand-p-1;
$btn-secondary-border: $brand-p-1;

$btn-tertiary-color: $brand-p-1;
$btn-tertiary-bg: $brand-s-2;
$btn-tertiary-bg-hover: $brand-s-2;
$btn-tertiary-border: $brand-s-2;
