$brand-p-1: #29abe2;
$brand-p-2: #fff;
$brand-p-3: #000;
$brand-p-4: #323232;

$brand-s-1: #29abe2;
$brand-s-2: #494a43;
$brand-s-3: #29abe2;
$brand-s-4: #efefef;
$brand-s-5: #72633f;
$brand-s-6: #777a7c;
$brand-s-7: #6d6e69;

$colorPalette:  (p-1, $brand-p-1),
				(p-2, $brand-p-2),
				(p-3, $brand-p-3),
				(p-4, $brand-p-4),
				(s-1, $brand-s-1),
				(s-2, $brand-s-2),
				(s-3, $brand-s-3),
				(s-4, $brand-s-4),
				(s-5, $brand-s-5),
				(s-6, $brand-s-6),
				(s-7, $brand-s-7);


$form-disabled:#dedede;
$input-border: #ccc;
$input-border-light: #e6e6e6;
$input-border-hover: #676A6C;
