// fonts
$font-size-base: 1.3;
$font-family: 'open sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;

// font weights
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 600;
$font-weight-bold: 700;

// font sizes
$heading-font-size: 2.4;
