<aside class="summary-widget" [ngClass]="{ 'fixed-position': isSticky ,'is-displayed': isDisplayed}" >
	<!-- HEAD -->
	<header-widget [model]="atoBModel" [estimatedTime]="duration" *ngIf="atoBModel?.journey"></header-widget>
	<!-- MAP -->
	<div class="visible-lg sebm-google-map-container">
		<agm-map [longitude]="longitude"
				 [latitude]="latitude"
				 [zoom]="zoom"
				 [zoomControl]="false"
				 [disableDefaultUI]="true">
			<agm-map-directions (notifyEstimatedTime)="updateEstimatedTime($event)"
								[origin]="atoBModel.origin"
								[destination]="atoBModel.destination">
			</agm-map-directions>
		</agm-map>
	</div>
	<!-- LEG -->
	<div class="leg-wrap" style="">
		<div class="leg text-center m-top-10 m-bottom-20 visible-lg">{{ 'SUMMARY_WIDGET.LEG' | translate }} 1</div>
		<milestone [model]="atoBModel" [icon]="'map-marker'" [skinnyIcon]="true" [step]="1" [title]="'SUMMARY_WIDGET.FROM'"></milestone>
		<milestone [model]="atoBModel" [icon]="'car'" [skinnyIcon]="false" [step]="2" [title]="'SUMMARY_WIDGET.CAR_TYPE'" ></milestone>
		<milestone [model]="atoBModel" [icon]="'user'" [skinnyIcon]="true" [step]="3" [title]="'SUMMARY_WIDGET.PASSENGER_DETAILS'" ></milestone>
		<milestone [model]="atoBModel" [icon]="'credit-card'" [skinnyIcon]="false" [step]="4" [title]="'SUMMARY_WIDGET.PAYMENT_DETAILS'" ></milestone>
	</div>
	<!-- BTN -->
	<bottom-widget [model]="atoBModel"
				   [isEdit]="isEditBooking"
				   (amendBooking)="amendBooking()"
				   (startBooking)="startBooking()" >
	</bottom-widget>
</aside>

