@import "../../../styles/brand-variables/brand";
@import "../../../styles/mixins";
@import "../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";

.summary-widget {
	background-color: $brand-p-4;
	color: $brand-p-2;
	.sebm-google-map-container{
		height: 150px;
	}
	.leg {
		@include font-size(2.4);
		color: $brand-p-1;
	}
}

@media (max-width: $screen-md-max) {
	.summary-widget {
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		z-index: 2;
	}
	.is-displayed {
		margin-top: 200px;
	}
	.leg-wrap {
		text-align: center;
	}
}

@media (min-width: $screen-lg) {
	.fixed-position {
		position: fixed;
		top: 0;
		width: 244px;
	}
	.leg-wrap{
		padding-left: 15px;
		padding-right: 15px;
	}
}
