<custom-panel
	[title]=" title || 'LOGIN_CREDENTIALS.TITLE' | translate"
	[icon]="'sign-out'"
	[step]="1"
	[showStep]="showStep">
	<form [formGroup]="form" (ngSubmit)="submit()">

			<div class="row">
				<div class="col-md-8 form-group">
					<fieldset [disabled]="isDisabled">
						<label>{{ 'LOGIN_CREDENTIALS.EMAIL' | translate }}</label>
						<input type="text" class="form-control" formControlName="email"
							   placeholder="{{ 'LOGIN_CREDENTIALS.EMAIL_PLACEHOLDER' | translate }}">
						<div *ngIf="form.controls.email.errors && form.controls.email.touched" class="help-block">
							<span class="text-danger">{{ 'LOGIN_CREDENTIALS.EMAIL_INVALID' | translate }}</span>
						</div>
					</fieldset>
				</div>
			</div>
			<div class="row" *ngIf="!isChangePassword">
				<div class="col-md-4">
					<fieldset [disabled]="isDisabled || !isChangePassword">
						<label>{{ 'LOGIN_CREDENTIALS.PASSWORD' | translate }}</label>
						<input type="password" class="form-control" formControlName="password"
							   placeholder="{{ 'LOGIN_CREDENTIALS.PASSWORD_PLACEHOLDER' | translate }}">
						<div *ngIf="form.controls.password.valid && form.controls.password.invalid" class="help-block">
							<span class="text-danger">Please enter a valid password</span>
						</div>
					</fieldset>
				</div>

				<div class="col-md-4 p-top-5 p-left-0" *ngIf="!isDisabled">
					<label>&nbsp;</label>
					<p>
						<span class="p-top-10 pull-left"><a  href="Javascript:void(0)" (click)="changePassword();" *ngIf="!isDisabled">Change Password</a></span>
					</p>
				</div>
			</div>
			<div class="row" *ngIf="isChangePassword">
				<div class="col-md-8">
					<change-password-form></change-password-form>
				</div>
				<div class="col-md-4 p-top-5 p-left-0" >
					<label>&nbsp;</label>
					<p>
						<span class="pull-right"><button class="btn btn-tertiary"  >Save</button></span>
						<span class="pull-right"><button class="btn btn-secondary m-right-20" (click)="cancelChangePassword()" >Cancel</button></span>
					</p>
				</div>
			</div>
		<div class="row" *ngIf="isDisabled">
			<div class="col-md-12 p-top-10">
				<div class="form-group">
					<span class="pull-right"><button class="btn btn-tertiary" (click)="toggleShowSaveBtn();" *ngIf="isDisabled">Edit</button></span>
				</div>
			</div>
		</div>
			<div class="row" *ngIf="!isDisabled">
				<div class="col-md-12 p-top-10" *ngIf="!showVerify">
					<div class="form-group">
						<span class="pull-right"><button class="btn btn-tertiary" (click)="toggleShowVerify();" >Submit</button></span>
						<span class="pull-right"><button class="btn btn-secondary m-right-20"  (click)="cancelEdit();isDisabled=true" >Cancel</button></span>
					</div>
				</div>
			</div>


	</form>


	<al-verify-component
						 [showVerifyForm]="showVerify"
						 [type]="'E'"
						 (notifyVerified)="getVerification()"
						 (notifyCancel)="cancelVerification()"></al-verify-component>




	<!--<div class="row">-->
		<!--<div class="col-lg-12">-->
			<!--<form [formGroup]="form" (ngSubmit)="submit()">-->

				<!--<div class="col-md-8 form-group p-left-0 p-right-0">-->

						<!--<label>{{ 'LOGIN_CREDENTIALS.EMAIL' | translate }}</label>-->
						<!--<input type="text" class="form-control" formControlName="email"-->
							   <!--placeholder="{{ 'LOGIN_CREDENTIALS.EMAIL_PLACEHOLDER' | translate }}" (blur)="checkForm()">-->
						<!--<div *ngIf="form.controls.email.errors && form.controls.email.touched" class="help-block">-->
							<!--<span class="text-danger">{{ 'LOGIN_CREDENTIALS.EMAIL_INVALID' | translate }}</span>-->
						<!--</div>-->
					<!--</fieldset>-->
				<!--</div>-->
				<!--<div class="col-md-8 form-group p-left-0 p-right-0">-->
					<!--<fieldset [disabled]="isDisabled">-->
						<!--<label>{{ 'LOGIN_CREDENTIALS.PASSWORD' | translate }}</label>-->
						<!--<input type="password" class="form-control" formControlName="password"-->
							   <!--placeholder="{{ 'LOGIN_CREDENTIALS.PASSWORD_PLACEHOLDER' | translate }}"-->
							   <!--(blur)="checkForm()">-->
						<!--<div *ngIf="form.controls.password.valid && form.controls.password.invalid" class="help-block">-->
							<!--<span class="text-danger">Please enter a valid password</span>-->
						<!--</div>-->
					<!--</fieldset>-->
				<!--</div>-->

				<!--<div class="col-md-4">-->
					<!--<div class="form-group">-->
						<!--<span class="pull-right"><button class="btn btn-secondary">Edit</button></span>-->
					<!--</div>-->
				<!--</div>-->
			<!--</form>-->
		<!--</div>-->
	<!--</div>-->
</custom-panel>
