<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<div class="well">
			<h2>Style Guide</h2>
			<!-- Navbar ================================================== -->
			<custom-panel [title]="'Navbar'"
						  [showStep]="false"
						  [icon]="''">
				<div class="bs-component">
					<nav class="navbar navbar-default">
						<div class="container-fluid">
							<div class="navbar-header">
								<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
								<a class="navbar-brand" href="#">Brand</a>
							</div>

							<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
								<ul class="nav navbar-nav">
									<li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
									<li><a href="#">Link</a></li>
									<li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
										<ul class="dropdown-menu" role="menu">
											<li><a href="#">Action</a></li>
											<li><a href="#">Another action</a></li>
											<li><a href="#">Something else here</a></li>
											<li class="divider"></li>
											<li><a href="#">Separated link</a></li>
											<li class="divider"></li>
											<li><a href="#">One more separated link</a></li>
										</ul>
									</li>
								</ul>
								<form class="navbar-form navbar-left" role="search">
									<div class="form-group">
										<input type="text" class="form-control" placeholder="Search">
									</div>
									<button type="submit" class="btn btn-default">Submit</button>
								</form>
								<ul class="nav navbar-nav navbar-right">
									<li><a href="#">Link</a></li>
								</ul>
							</div>
						</div>
					</nav>
				</div>
				<div class="bs-component">
					<nav class="navbar navbar-inverse">
						<div class="container-fluid">
							<div class="navbar-header">
								<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
								<a class="navbar-brand" href="#">Brand</a>
							</div>

							<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
								<ul class="nav navbar-nav">
									<li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
									<li><a href="#">Link</a></li>
									<li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
										<ul class="dropdown-menu" role="menu">
											<li><a href="#">Action</a></li>
											<li><a href="#">Another action</a></li>
											<li><a href="#">Something else here</a></li>
											<li class="divider"></li>
											<li><a href="#">Separated link</a></li>
											<li class="divider"></li>
											<li><a href="#">One more separated link</a></li>
										</ul>
									</li>
								</ul>
								<form class="navbar-form navbar-left" role="search">
									<div class="form-group">
										<input type="text" class="form-control" placeholder="Search">
									</div>
									<button type="submit" class="btn btn-default">Submit</button>
								</form>
								<ul class="nav navbar-nav navbar-right">
									<li><a href="#">Link</a></li>
								</ul>
							</div>
						</div>
					</nav>
				</div>
			</custom-panel>

			<!-- Buttons ================================================== -->
			<custom-panel [title]="'Buttons'"
						  [showStep]="false"
						  [icon]="''">
				<div class="row">
					<div class="col-lg-7">

						<p class="bs-component">
							<a href="#" class="btn btn-default">Default</a>
							<a href="#" class="btn btn-primary">Primary</a>
							<a href="#" class="btn btn-success">Success</a>
							<a href="#" class="btn btn-info">Info</a>
							<a href="#" class="btn btn-warning">Warning</a>
							<a href="#" class="btn btn-danger">Danger</a>
							<a href="#" class="btn btn-link">Link</a>
						</p>

						<p class="bs-component">
							<a href="#" class="btn btn-default disabled">Default</a>
							<a href="#" class="btn btn-primary disabled">Primary</a>
							<a href="#" class="btn btn-success disabled">Success</a>
							<a href="#" class="btn btn-info disabled">Info</a>
							<a href="#" class="btn btn-warning disabled">Warning</a>
							<a href="#" class="btn btn-danger disabled">Danger</a>
							<a href="#" class="btn btn-link disabled">Link</a>
						</p>


						<div style="margin-bottom: 15px;">
							<div class="btn-toolbar bs-component" style="margin: 0;">
								<div class="btn-group">
									<a href="#" class="btn btn-default">Default</a>
									<a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
									<ul class="dropdown-menu">
										<li><a href="#">Action</a></li>
										<li><a href="#">Another action</a></li>
										<li><a href="#">Something else here</a></li>
										<li class="divider"></li>
										<li><a href="#">Separated link</a></li>
									</ul>
								</div>

								<div class="btn-group">
									<a href="#" class="btn btn-primary">Primary</a>
									<a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
									<ul class="dropdown-menu">
										<li><a href="#">Action</a></li>
										<li><a href="#">Another action</a></li>
										<li><a href="#">Something else here</a></li>
										<li class="divider"></li>
										<li><a href="#">Separated link</a></li>
									</ul>
								</div>

								<div class="btn-group">
									<a href="#" class="btn btn-success">Success</a>
									<a href="#" class="btn btn-success dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
									<ul class="dropdown-menu">
										<li><a href="#">Action</a></li>
										<li><a href="#">Another action</a></li>
										<li><a href="#">Something else here</a></li>
										<li class="divider"></li>
										<li><a href="#">Separated link</a></li>
									</ul>
								</div>

								<div class="btn-group">
									<a href="#" class="btn btn-info">Info</a>
									<a href="#" class="btn btn-info dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
									<ul class="dropdown-menu">
										<li><a href="#">Action</a></li>
										<li><a href="#">Another action</a></li>
										<li><a href="#">Something else here</a></li>
										<li class="divider"></li>
										<li><a href="#">Separated link</a></li>
									</ul>
								</div>

								<div class="btn-group">
									<a href="#" class="btn btn-warning">Warning</a>
									<a href="#" class="btn btn-warning dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
									<ul class="dropdown-menu">
										<li><a href="#">Action</a></li>
										<li><a href="#">Another action</a></li>
										<li><a href="#">Something else here</a></li>
										<li class="divider"></li>
										<li><a href="#">Separated link</a></li>
									</ul>
								</div>
							</div>
						</div>

						<p class="bs-component">
							<a href="#" class="btn btn-default btn-lg">Default button</a>
							<a href="#" class="btn btn-default">Default button</a>
							<a href="#" class="btn btn-default btn-sm">Small button</a>
							<a href="#" class="btn btn-default btn-xs">Mini button</a>
						</p>

						<p class="bs-component">
							<a href="#" class="btn btn-primary btn-lg">Primary button</a>
							<a href="#" class="btn btn-primary">Default button</a>
							<a href="#" class="btn btn-primary btn-sm">Small button</a>
							<a href="#" class="btn btn-primary btn-xs">Mini button</a>
						</p>

						<p class="bs-component">
							<a href="#" class="btn btn-secondary btn-lg">Secondary button</a>
							<a href="#" class="btn btn-secondary">Default button</a>
							<a href="#" class="btn btn-secondary btn-sm">Small button</a>
							<a href="#" class="btn btn-secondary btn-xs">Mini button</a>
						</p>

						<p class="bs-component">
							<a href="#" class="btn btn-tertiary btn-lg">Tertiary button</a>
							<a href="#" class="btn btn-tertiary">Default button</a>
							<a href="#" class="btn btn-tertiary btn-sm">Small button</a>
							<a href="#" class="btn btn-tertiary btn-xs">Mini button</a>
						</p>

					</div>
					<div class="col-lg-5">

						<p class="bs-component">
							<a href="#" class="btn btn-default btn-lg btn-block">Block level button</a>
						</p>


						<div class="bs-component" style="margin-bottom: 15px;">
							<div class="btn-group btn-group-justified">
								<a href="#" class="btn btn-default">Left</a>
								<a href="#" class="btn btn-default">Middle</a>
								<a href="#" class="btn btn-default">Right</a>
							</div>
						</div>

						<div class="bs-component" style="margin-bottom: 15px;">
							<div class="btn-toolbar">
								<div class="btn-group">
									<a href="#" class="btn btn-default">1</a>
									<a href="#" class="btn btn-default">2</a>
									<a href="#" class="btn btn-default">3</a>
									<a href="#" class="btn btn-default">4</a>
								</div>

								<div class="btn-group">
									<a href="#" class="btn btn-default">5</a>
									<a href="#" class="btn btn-default">6</a>
									<a href="#" class="btn btn-default">7</a>
								</div>

								<div class="btn-group">
									<a href="#" class="btn btn-default">8</a>
									<div class="btn-group">
										<a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
											Dropdown
											<span class="caret"></span>
										</a>
										<ul class="dropdown-menu">
											<li><a href="#">Dropdown link</a></li>
											<li><a href="#">Dropdown link</a></li>
											<li><a href="#">Dropdown link</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>

						<div class="bs-component">
							<div class="btn-group-vertical">
								<a href="#" class="btn btn-default">Button</a>
								<a href="#" class="btn btn-default">Button</a>
								<a href="#" class="btn btn-default">Button</a>
								<a href="#" class="btn btn-default">Button</a>
							</div>
						</div>

					</div>
				</div>
			</custom-panel>

			<!-- Typography ================================================== -->
			<custom-panel [title]="'Typography'"
						  [showStep]="false"
						  [icon]="''">
				<!-- Headings -->
				<div class="row">
					<div class="col-lg-4">
						<div class="bs-component">
							<h1>Heading 1</h1>
							<h2>Heading 2</h2>
							<h3>Heading 3</h3>
							<h4>Heading 4</h4>
							<h5>Heading 5</h5>
							<h6>Heading 6</h6>
							<p class="lead">Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
							<div id="source-button" class="btn btn-primary btn-xs" style="display: none;">&lt; &gt;</div></div>
					</div>
					<div class="col-lg-4">
						<div class="bs-component">
							<h2>Example body text</h2>
							<p>Nullam quis risus eget <a href="#">urna mollis ornare</a> vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
							<p><small>This line of text is meant to be treated as fine print.</small></p>
							<p>The following snippet of text is <strong>rendered as bold text</strong>.</p>
							<p>The following snippet of text is <em>rendered as italicized text</em>.</p>
							<p>An abbreviation of the word attribute is <abbr title="attribute">attr</abbr>.</p>
						</div>

					</div>
					<div class="col-lg-4">
						<div class="bs-component">
							<h2>Emphasis classes</h2>
							<p class="text-muted">Fusce dapibus, tellus ac cursus commodo, tortor mauris nibh.</p>
							<p class="text-primary">Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
							<p class="text-warning">Etiam porta sem malesuada magna mollis euismod.</p>
							<p class="text-danger">Donec ullamcorper nulla non metus auctor fringilla.</p>
							<p class="text-success">Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>
							<p class="text-info">Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
						</div>

					</div>
				</div>

				<!-- Blockquotes -->
				<div class="row">
					<div class="col-lg-12">
						<h2 id="type-blockquotes">Blockquotes</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6">
						<div class="bs-component">
							<blockquote>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
								<small>Someone famous in <cite title="Source Title">Source Title</cite></small>
							</blockquote>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="bs-component">
							<blockquote class="blockquote-reverse">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
								<small>Someone famous in <cite title="Source Title">Source Title</cite></small>
							</blockquote>
						</div>
					</div>
				</div>
			</custom-panel>

			<!-- Tables ================================================== -->
			<custom-panel [title]="'Tables'"
						  [showStep]="false"
						  [icon]="''">
				<div class="bs-component">
					<table class="table table-striped table-hover ">
						<thead>
						<tr>
							<th>#</th>
							<th>Column heading</th>
							<th>Column heading</th>
							<th>Column heading</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td>1</td>
							<td>Column content</td>
							<td>Column content</td>
							<td>Column content</td>
						</tr>
						<tr>
							<td>2</td>
							<td>Column content</td>
							<td>Column content</td>
							<td>Column content</td>
						</tr>
						<tr class="info">
							<td>3</td>
							<td>Column content</td>
							<td>Column content</td>
							<td>Column content</td>
						</tr>
						<tr class="success">
							<td>4</td>
							<td>Column content</td>
							<td>Column content</td>
							<td>Column content</td>
						</tr>
						<tr class="danger">
							<td>5</td>
							<td>Column content</td>
							<td>Column content</td>
							<td>Column content</td>
						</tr>
						<tr class="warning">
							<td>6</td>
							<td>Column content</td>
							<td>Column content</td>
							<td>Column content</td>
						</tr>
						<tr class="active">
							<td>7</td>
							<td>Column content</td>
							<td>Column content</td>
							<td>Column content</td>
						</tr>
						</tbody>
					</table>
				</div>
			</custom-panel>

			<!-- Forms ================================================== -->
			<custom-panel [title]="'Forms'"
						  [showStep]="false"
						  [icon]="''">
				<div class="row">
					<div class="col-lg-6">
						<div class="well bs-component">
							<form class="form-horizontal">
								<fieldset>
									<legend>Legend</legend>
									<div class="form-group">
										<label for="inputEmail" class="col-lg-2 control-label">Email</label>
										<div class="col-lg-10">
											<input type="text" class="form-control" id="inputEmail" placeholder="Email">
										</div>
									</div>
									<div class="form-group">
										<label for="inputPassword" class="col-lg-2 control-label">Password</label>
										<div class="col-lg-10">
											<input type="password" class="form-control" id="inputPassword" placeholder="Password">
											<div class="checkbox">
												<label>
													<input type="checkbox"> Checkbox
												</label>
											</div>
										</div>
									</div>
									<div class="form-group">
										<label for="textArea" class="col-lg-2 control-label">Textarea</label>
										<div class="col-lg-10">
											<textarea class="form-control" rows="3" id="textArea"></textarea>
											<span class="help-block">A longer block of help text that breaks onto a new line and may extend beyond one line.</span>
										</div>
									</div>
									<div class="form-group">
										<label class="col-lg-2 control-label">Radios</label>
										<div class="col-lg-10">
											<div class="radio">
												<input type="radio" name="radio1" id="radio1" value="option1" checked=""/>
												<label for="radio1">Default radio 1</label>
											</div>
											<div class="radio">
												<input type="radio" name="radio1" id="radio2" value="option2"/>
												<label for="radio2">Default radio 2</label>
											</div>
											<div class="radio radio-primary">
												<input type="radio" name="radio2" id="radio3" value="option1"/>
												<label for="radio3">Primary radio 1 [.radio-primary]</label>
											</div>
											<div class="radio radio-primary">
												<input type="radio" name="radio2" id="radio4" value="option2" checked=""/>
												<label for="radio4">Primary radio 2 [.radio-primary</label>
											</div>
										</div>
									</div>
									<div class="form-group">
										<label for="select" class="col-lg-2 control-label">Selects</label>
										<div class="col-lg-10">
											<select class="form-control" id="select">
												<option>1</option>
												<option>2</option>
												<option>3</option>
												<option>4</option>
												<option>5</option>
											</select>
											<br>
											<select multiple="" class="form-control">
												<option>1</option>
												<option>2</option>
												<option>3</option>
												<option>4</option>
												<option>5</option>
											</select>
										</div>
									</div>
									<div class="form-group">
										<div class="col-lg-10 col-lg-offset-2">
											<button type="reset" class="btn btn-default">Cancel</button>
											<button type="submit" class="btn btn-primary">Submit</button>
										</div>
									</div>
								</fieldset>
							</form>
						</div>
					</div>
					<div class="col-lg-4 col-lg-offset-1">

						<form class="bs-component">
							<div class="form-group">
								<label class="control-label" for="focusedInput">Focused input</label>
								<input class="form-control" id="focusedInput" type="text" value="This is focused...">
							</div>

							<div class="form-group">
								<label class="control-label" for="disabledInput">Disabled input</label>
								<input class="form-control" id="disabledInput" type="text" placeholder="Disabled input here..." disabled="">
							</div>

							<div class="form-group has-warning">
								<label class="control-label" for="inputWarning">Input warning</label>
								<input type="text" class="form-control" id="inputWarning">
							</div>

							<div class="form-group has-error">
								<label class="control-label" for="inputError">Input error</label>
								<input type="text" class="form-control" id="inputError">
							</div>

							<div class="form-group has-success">
								<label class="control-label" for="inputSuccess">Input success</label>
								<input type="text" class="form-control" id="inputSuccess">
							</div>

							<div class="form-group">
								<label class="control-label" for="inputLarge">Large input</label>
								<input class="form-control input-lg" type="text" id="inputLarge">
							</div>

							<div class="form-group">
								<label class="control-label" for="inputDefault">Default input</label>
								<input type="text" class="form-control" id="inputDefault">
							</div>

							<div class="form-group">
								<label class="control-label" for="inputSmall">Small input</label>
								<input class="form-control input-sm" type="text" id="inputSmall">
							</div>

							<div class="form-group">
								<label class="control-label">Input addons</label>
								<div class="input-group">
									<span class="input-group-addon">$</span>
									<input type="text" class="form-control">
									<span class="input-group-btn">
                      				<button class="btn btn-default" type="button">Button</button>
                    				</span>
								</div>
							</div>
							<label class="control-label">Date picker</label>
							<custom-date-picker></custom-date-picker>
						</form>
					</div>
					<div class="col-lg-12">
						<h2>Fat slim styles</h2>

						<custom-input-btn [label]="'Input with button'"
											   [placeholder]="'Input with button'"
											   [isFa]="false"
											   [icon]="'icon-al-pin'"
											   [showIcon]="true">
						</custom-input-btn>
						<br><br>
						<custom-input-autocomplete [label]="'Pick up'"
								  [placeholder]="'Pick up address autocomplete'"
								  [isFa]="false"
								  [icon]="'icon-al-pin'"
								  [showIcon]="true">
						</custom-input-autocomplete>
						<custom-input [label]="'Pick up'"
								  [placeholder]="'Pick up address'"
								  [isFa]="false"
								  [icon]="'icon-al-pin'"
								  [showIcon]="true">
						</custom-input>


						<custom-input [label]="'Drop off'"
								  [placeholder]="'Drop of address'"
								  [isFa]="false"
								  [icon]="'icon-al-pin'"
								  [showIcon]="false">
						</custom-input>

						<custom-input [label]="'Add another destination'"
								  [placeholder]="'destination'"
								  [isFa]="false"
								  [icon]="'icon-al-pin'"
								  [showIcon]="true">
						</custom-input>

						<div class="well bs-component">
							<div class="row">
								<div class="col-sm-4 col-md-4 col-lg-4">
									<button class="btn btn-primary" (click)="clicking()">Submit Me</button>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-sm-4 col-md-4 col-lg-4">
								<custom-dropdown [label]="'Date of journey'"
											 [isFa]="false"
											 [icon]="'icon-al-pin'"
											 [showIcon]="false"
											 [options]="options">
								</custom-dropdown>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-4 col-md-4 col-lg-4">
								<custom-dropdown [label]="'Date of journey'"
											 [isFa]="false"
											 [icon]="'icon-al-pin'"
											 [showIcon]="true"
											 [options]="options">
								</custom-dropdown>
							</div>
						</div>

						<div class="row">
							<custom-input-group-three [labelTop]="'Name'"
												[placeholderTop]="'Name'"
												[isFaTop]="false"
												[iconTop]="'icon-al-pin'"
												[showIconTop]="false"

												[labelLeft]="'Email'"
												[placeholderLeft]="'Email'"
												[isFaLeft]="false"
												[iconLeft]="'icon-al-pin'"
												[showIconLeft]="false"

												[labelRight]="'Mobile'"
												[placeholderRight]="'Mobile'"
												[isFaRight]="false"
												[iconRight]="'icon-al-pin'"
												[showIconRight]="false">
							</custom-input-group-three>
						</div>
					</div>
					<div class="col-lg-12 m-top-20">
						<div class="row">
							<custom-input-group-four [labelTopRight]="'Card holder name'"
													[placeholderTopRight]="'Type your name'"
													[isFaTopRight]="false"
													[iconTopRight]="'icon-al-pin'"
													[showIconTopRight]="false"

													[labelTopLeft]="'Card number'"
													[placeholderTopLeft]="'Type card number'"
													[isFaTopLeft]="false"
													[iconTopLeft]="'icon-al-pin'"
													[showIconTopLeft]="false"


													[labelBottomLeft]="'Expire date'"
													[placeholderBottomLeft]="'MM/YY'"
													[isFaBottomLeft]="false"
													[iconBottomLeft]="'icon-al-pin'"
													[showIconBottomLeft]="false"

													[labelBottomRight]="'cvv'"
													[placeholderBottomRight]="'Type code'"
													[isFaBottomRight]="false"
													[iconBottomRight]="'icon-al-pin'"
													[showIconBottomRight]="false">
							</custom-input-group-four>
						</div>
					</div>
				</div>
			</custom-panel>

			<!-- Navs ================================================== -->
			<custom-panel [title]="'Navs'"
						  [showStep]="false"
						  [icon]="''">
				<div class="row">
					<div class="col-lg-4">
						<h2 id="nav-tabs">Tabs</h2>
						<div class="bs-component">
							<ul class="nav nav-tabs">
								<li class="active"><a href="#home" data-toggle="tab">Home</a></li>
								<li><a href="#profile" data-toggle="tab">Profile</a></li>
								<li class="disabled"><a>Disabled</a></li>
								<li class="dropdown">
									<a class="dropdown-toggle" data-toggle="dropdown" href="#">
										Dropdown <span class="caret"></span>
									</a>
									<ul class="dropdown-menu">
										<li><a href="#dropdown1" data-toggle="tab">Action</a></li>
										<li class="divider"></li>
										<li><a href="#dropdown2" data-toggle="tab">Another action</a></li>
									</ul>
								</li>
							</ul>
							<div id="myTabContent" class="tab-content">
								<div class="tab-pane fade active in" id="home">
									<p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
								</div>
								<div class="tab-pane fade" id="profile">
									<p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit.</p>
								</div>
								<div class="tab-pane fade" id="dropdown1">
									<p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork.</p>
								</div>
								<div class="tab-pane fade" id="dropdown2">
									<p>Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table VHS viral locavore cosby sweater.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4">
						<h2 id="nav-pills">Pills</h2>
						<div class="bs-component">
							<ul class="nav nav-pills">
								<li class="active"><a href="#">Home</a></li>
								<li><a href="#">Profile</a></li>
								<li class="disabled"><a href="#">Disabled</a></li>
								<li class="dropdown">
									<a class="dropdown-toggle" data-toggle="dropdown" href="#">
										Dropdown <span class="caret"></span>
									</a>
									<ul class="dropdown-menu">
										<li><a href="#">Action</a></li>
										<li><a href="#">Another action</a></li>
										<li><a href="#">Something else here</a></li>
										<li class="divider"></li>
										<li><a href="#">Separated link</a></li>
									</ul>
								</li>
							</ul>
						</div>
						<br>
						<div class="bs-component">
							<ul class="nav nav-pills nav-stacked">
								<li class="active"><a href="#">Home</a></li>
								<li><a href="#">Profile</a></li>
								<li class="disabled"><a href="#">Disabled</a></li>
								<li class="dropdown">
									<a class="dropdown-toggle" data-toggle="dropdown" href="#">
										Dropdown <span class="caret"></span>
									</a>
									<ul class="dropdown-menu">
										<li><a href="#">Action</a></li>
										<li><a href="#">Another action</a></li>
										<li><a href="#">Something else here</a></li>
										<li class="divider"></li>
										<li><a href="#">Separated link</a></li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-lg-4">
						<h2 id="nav-breadcrumbs">Breadcrumbs</h2>
						<div class="bs-component">
							<ul class="breadcrumb">
								<li class="active">Home</li>
							</ul>

							<ul class="breadcrumb">
								<li><a href="#">Home</a></li>
								<li class="active">Library</li>
							</ul>

							<ul class="breadcrumb">
								<li><a href="#">Home</a></li>
								<li><a href="#">Library</a></li>
								<li class="active">Data</li>
							</ul>
						</div>

					</div>
				</div>


				<div class="row">
					<div class="col-lg-4">
						<h2 id="pagination">Pagination</h2>
						<div class="bs-component">
							<ul class="pagination">
								<li class="disabled"><a href="#">«</a></li>
								<li class="active"><a href="#">1</a></li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#">4</a></li>
								<li><a href="#">5</a></li>
								<li><a href="#">»</a></li>
							</ul>

							<ul class="pagination pagination-lg">
								<li class="disabled"><a href="#">«</a></li>
								<li class="active"><a href="#">1</a></li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#">»</a></li>
							</ul>

							<ul class="pagination pagination-sm">
								<li class="disabled"><a href="#">«</a></li>
								<li class="active"><a href="#">1</a></li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#">4</a></li>
								<li><a href="#">5</a></li>
								<li><a href="#">»</a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-4">
						<h2 id="pager">Pager</h2>
						<div class="bs-component">
							<ul class="pager">
								<li><a href="#">Previous</a></li>
								<li><a href="#">Next</a></li>
							</ul>

							<ul class="pager">
								<li class="previous disabled"><a href="#">← Older</a></li>
								<li class="next"><a href="#">Newer →</a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-4">

					</div>
				</div>
			</custom-panel>

			<!-- Indicators ================================================== -->
			<custom-panel [title]="'Indicators'"
						  [showStep]="false"
						  [icon]="''">
				<div class="row">
					<div class="col-lg-12">
						<h2>Alerts</h2>
						<div class="bs-component">
							<div class="alert alert-dismissible alert-warning">
								<button type="button" class="close" data-dismiss="alert">×</button>
								<h4>Warning!</h4>
								<p>Best check yo self, you're not looking too good. Nulla vitae elit libero, a pharetra augue. Praesent commodo cursus magna, <a href="#" class="alert-link">vel scelerisque nisl consectetur et</a>.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-4">
						<div class="bs-component">
							<div class="alert alert-dismissible alert-danger">
								<button type="button" class="close" data-dismiss="alert">×</button>
								<strong>Oh snap!</strong> <a href="#" class="alert-link">Change a few things up</a> and try submitting again.
							</div>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="bs-component">
							<div class="alert alert-dismissible alert-success">
								<button type="button" class="close" data-dismiss="alert">×</button>
								<strong>Well done!</strong> You successfully read <a href="#" class="alert-link">this important alert message</a>.
							</div>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="bs-component">
							<div class="alert alert-dismissible alert-info">
								<button type="button" class="close" data-dismiss="alert">×</button>
								<strong>Heads up!</strong> This <a href="#" class="alert-link">alert needs your attention</a>, but it's not super important.
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-4">
						<h2>Labels</h2>
						<div class="bs-component" style="margin-bottom: 40px;">
							<span class="label label-default">Default</span>
							<span class="label label-primary">Primary</span>
							<span class="label label-success">Success</span>
							<span class="label label-warning">Warning</span>
							<span class="label label-danger">Danger</span>
							<span class="label label-info">Info</span>
						</div>
					</div>
					<div class="col-lg-4">
						<h2>Badges</h2>
						<div class="bs-component">
							<ul class="nav nav-pills">
								<li class="active"><a href="#">Home <span class="badge">42</span></a></li>
								<li><a href="#">Profile <span class="badge"></span></a></li>
								<li><a href="#">Messages <span class="badge">3</span></a></li>
							</ul>
						</div>
					</div>
				</div>
			</custom-panel>

			<!-- Progress bars ================================================== -->
			<custom-panel [title]="'Progress bars'"
						  [showStep]="false"
						  [icon]="''">
				<h3 id="progress-basic">Basic</h3>
				<div class="bs-component">
					<div class="progress">
						<div class="progress-bar" style="width: 60%;"></div>
					</div>
				</div>

				<h3 id="progress-alternatives">Contextual alternatives</h3>
				<div class="bs-component">
					<div class="progress">
						<div class="progress-bar progress-bar-info" style="width: 20%"></div>
					</div>

					<div class="progress">
						<div class="progress-bar progress-bar-success" style="width: 40%"></div>
					</div>

					<div class="progress">
						<div class="progress-bar progress-bar-warning" style="width: 60%"></div>
					</div>

					<div class="progress">
						<div class="progress-bar progress-bar-danger" style="width: 80%"></div>
					</div>
				</div>

				<h3 id="progress-striped">Striped</h3>
				<div class="bs-component">
					<div class="progress progress-striped">
						<div class="progress-bar progress-bar-info" style="width: 20%"></div>
					</div>

					<div class="progress progress-striped">
						<div class="progress-bar progress-bar-success" style="width: 40%"></div>
					</div>

					<div class="progress progress-striped">
						<div class="progress-bar progress-bar-warning" style="width: 60%"></div>
					</div>

					<div class="progress progress-striped">
						<div class="progress-bar progress-bar-danger" style="width: 80%"></div>
					</div>
				</div>

				<h3 id="progress-animated">Animated</h3>
				<div class="bs-component">
					<div class="progress progress-striped active">
						<div class="progress-bar" style="width: 45%"></div>
					</div>
				</div>

				<h3 id="progress-stacked">Stacked</h3>
				<div class="bs-component">
					<div class="progress">
						<div class="progress-bar progress-bar-success" style="width: 35%"></div>
						<div class="progress-bar progress-bar-warning" style="width: 20%"></div>
						<div class="progress-bar progress-bar-danger" style="width: 10%"></div>
					</div>
				</div>
			</custom-panel>

			<!-- Containers ================================================== -->
			<custom-panel [title]="'Containers'"
						  [showStep]="false"
						  [icon]="''">

				<div class="bs-component">
					<div class="jumbotron">
						<h1>Jumbotron</h1>
						<p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
						<p><a class="btn btn-primary btn-lg">Learn more</a></p>
					</div>

					<div class="row">
						<div class="col-lg-12">
							<h2>List groups</h2>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-4">
							<div class="bs-component">
								<ul class="list-group">
									<li class="list-group-item">
										<span class="badge">14</span>
										Cras justo odio
									</li>
									<li class="list-group-item">
										<span class="badge">2</span>
										Dapibus ac facilisis in
									</li>
									<li class="list-group-item">
										<span class="badge">1</span>
										Morbi leo risus
									</li>
								</ul>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="bs-component">
								<div class="list-group">
									<a href="#" class="list-group-item active">
										Cras justo odio
									</a>
									<a href="#" class="list-group-item">Dapibus ac facilisis in
									</a>
									<a href="#" class="list-group-item">Morbi leo risus
									</a>
								</div>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="bs-component">
								<div class="list-group">
									<a href="#" class="list-group-item">
										<h4 class="list-group-item-heading">List group item heading</h4>
										<p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
									</a>
									<a href="#" class="list-group-item">
										<h4 class="list-group-item-heading">List group item heading</h4>
										<p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12">
							<h2>Panels</h2>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-4">
							<div class="bs-component">
								<div class="panel panel-default">
									<div class="panel-body">
										Basic panel
									</div>
								</div>

								<div class="panel panel-default">
									<div class="panel-heading">Panel heading</div>
									<div class="panel-body">
										Panel content
									</div>
								</div>

								<div class="panel panel-default">
									<div class="panel-body">
										Panel content
									</div>
									<div class="panel-footer">Panel footer</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="bs-component">
								<div class="panel panel-primary">
									<div class="panel-heading">
										<h3 class="panel-title">Panel primary</h3>
									</div>
									<div class="panel-body">
										Panel content
									</div>
								</div>

								<div class="panel panel-success">
									<div class="panel-heading">
										<h3 class="panel-title">Panel success</h3>
									</div>
									<div class="panel-body">
										Panel content
									</div>
								</div>

								<div class="panel panel-warning">
									<div class="panel-heading">
										<h3 class="panel-title">Panel warning</h3>
									</div>
									<div class="panel-body">
										Panel content
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="bs-component">
								<div class="panel panel-danger">
									<div class="panel-heading">
										<h3 class="panel-title">Panel danger</h3>
									</div>
									<div class="panel-body">
										Panel content
									</div>
								</div>

								<div class="panel panel-info">
									<div class="panel-heading">
										<h3 class="panel-title">Panel info</h3>
									</div>
									<div class="panel-body">
										Panel content
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-lg-12">
							<h2>Wells</h2>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-4">
							<div class="bs-component">
								<div class="well">
									Look, I'm in a well!
								</div>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="bs-component">
								<div class="well well-sm">
									Look, I'm in a small well!
								</div>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="bs-component">
								<div class="well well-lg">
									Look, I'm in a large well!
								</div>
							</div>
						</div>
					</div>
				</div>
			</custom-panel>

			<!-- Custom helpers ================================================== -->
			<custom-panel
				[title]="'Custom helpers'"
				[showStep]="false"
				[icon]="''">

				<div class="row">
					<div class="col-lg-12">
						<ul>
							<li>Margin top - [.m-top-x] - eg .m-top-10</li>
							<li>Margin bottom - [.m-bottom-x] eg .m-bottom-10</li>
							<li>Margin right - [.m-right-x] eg .m-right-10</li>
							<li>Margin left - [.m-left-x] eg .m-left-10</li>
						</ul>
						<ul>
							<li>Padding top - [.p-top-x] - eg .p-top-10</li>
							<li>Padding bottom - [.p-bottom-x] eg .p-bottom-10</li>
							<li>Padding right - [.p-right-x] eg .p-right-10</li>
							<li>Padding left - [.p-left-x] eg .p-left-10</li>
						</ul>
					</div>
				</div>
			</custom-panel>
		</div>
	</div>
	</div>
</div>
