
<form [formGroup]="form">
	<div class="row">
		<div class="col-md-4">
				<label>{{ 'CHANGE_PASSWORD.OLD_PASSWORD' | translate }}</label>
				<input type="password" class="form-control" formControlName="oldPassword"
					   placeholder="{{ 'CHANGE_PASSWORD.PASSWORD_PLACEHOLDER' | translate }}">
				<div *ngIf="form.controls.oldPassword.valid && form.controls.oldPassword.invalid" class="help-block">
					<span class="text-danger">Please enter a valid password</span>
				</div>
		</div>
		<div class="col-md-4">
			<label>{{ 'CHANGE_PASSWORD.NEW_PASSWORD' | translate }}</label>
			<input type="password" class="form-control" formControlName="newPassword"
				   placeholder="{{ 'CHANGE_PASSWORD.PASSWORD_PLACEHOLDER' | translate }}">
			<div *ngIf="form.controls.newPassword.valid && form.controls.newPassword.invalid" class="help-block">
				<span class="text-danger">Please enter a valid password</span>
			</div>
		</div>
		<div class="col-md-4">
			<label>{{ 'CHANGE_PASSWORD.CONFIRM_PASSWORD' | translate }}</label>
			<input type="password" class="form-control" formControlName="confirmPassword"
				   placeholder="{{ 'CHANGE_PASSWORD.PASSWORD_PLACEHOLDER' | translate }}">
			<div *ngIf="form.controls.confirmPassword.valid && form.controls.confirmPassword.invalid" class="help-block">
				<span class="text-danger">Please enter a valid password</span>
			</div>
		</div>
	</div>
</form>
