<!--<ul class="list-group">-->
	<!--<li class="list-group-item">{{title}}</li>-->
	<!--<li class="list-group-item list-group-item-info" [class.price]="title === 'Price'" *ngIf="icon!==''"> <i class="fa fa-{{icon}} fa-lg"></i>{{inputValue}}</li>-->
	<!--<li class="list-group-item list-group-item-info p-left-0" [class.price]="title === 'Price'" *ngIf="icon===''"> {{inputValue}}</li>-->
<!--</ul>-->

<div class="form-group m-bottom-20">
	<label>{{title}}</label>
	<div class="input-group">
		<div class="input-group-addon" *ngIf="icon!==''"><i class="fa fa-{{icon}}"></i></div>
		<input id="{{inputValue}}" class="form-control "  value="{{inputValue}}" [disabled]="true"
			   [class.price]="title === 'Price'"  [class.ref]="title === 'Your booking number'"  [ngClass]="{'p-left-0':icon!==''}"/>
	</div>
</div>
