@import "../../../styles/brand-variables/brand";
@import "../../../styles/mixins";

input:disabled, .form-control:disabled {
	color: $brand-s-2;
	background-color: $brand-s-4;
	border-color:$brand-s-4;
	border-width: 0;
	box-shadow: none;
}

.input-group-addon:first-child {
	border-radius: 0;
	color: $brand-s-2;
	background-color: $brand-s-4;
	border-color:$brand-s-4
}

.form-control.price{
	font-size: 30px;
	padding-top: 30px;
	padding-bottom: 30px;
}
.form-control.ref{
	font-size: 16px;
	font-weight: bold;
}

.form-group label{
	color: $brand-s-3;
}

