<custom-panel
	[title]=" title || 'JOURNEY_DETAILS.TITLE' | translate"
	[step]="1"
	[showStep]="showStep"
	class="clearfix">

	<div class="row">
		<div class="col-sm-4 col-md-4 col-lg-4 m-top-20">
			<custom-dropdown
				#dateOfJourney
				[label]="'JOURNEY_DETAILS.DATE_OF_JOURNEY' | translate"
				[isFa]="false"
				[icon]="'icon-calendar'"
				[showIcon]="true"
				[options]="dateOfJourneyOptions"
				[disabled]="disabledOptions"
				(onChangeEvent)="selectJourney($event)">
			</custom-dropdown>
		</div>
		<div class="col-sm-8 col-md-8 col-lg-8 m-top-20">
			<custom-input-autocomplete  [label]=" 'JOURNEY_DETAILS.PICKUP' | translate "
										[placeholder]="'JOURNEY_DETAILS.PICKUP_PLACEHOLDER' | translate "
										[isFa]="false"
										[icon]="'icon-al-pin'"
										[showIcon]="true" [showBtn]="false"
										(updateAddress)="updatePickup($event)">
			</custom-input-autocomplete>
		</div>
	</div>

	<div class="row m-top-20">
		<div class="col-sm-12 col-md-12 col-lg-12">
			<custom-input-btn [label]="'JOURNEY_DETAILS.DROP_OFF' | translate"
							  [placeholder]="'JOURNEY_DETAILS.DROP_OFF_PLACEHOLDER' | translate"
							  [isFa]="false"
							  [icon]="'icon-al-pin'"
							  [showIcon]="true"
							  (onAddressSelected)="updateDropOff($event)"
							  (onAddWaypoint)="resetWaypoints($event)"
							  (onRemoveWaypoint)="removeWaypoint($event)"
							  (onChangeWaypoint)="resetWaypoints($event)"
							  (onDragAndDrop)="reorderWaypoints($event)">
			</custom-input-btn>
		</div>
	</div>

	<div class="row m-top-20">
		<div class="col-sm-4 col-md-4 col-lg-4">
			<custom-dropdown
				#paymentMethod
				[label]="'JOURNEY_DETAILS.PAYMENT_METHOD' | translate"
				[isFa]="false"
				[icon]="'icon-wallet'"
				[showIcon]="true"
				[options]="paymentOptions"
				[disabled]="disabledOptions"
				(onChangeEvent)="selectPayment($event)">
			</custom-dropdown>
		</div>

	</div>

	<button *ngIf="isWidget"
		class="btn btn-primary m-top-30 pull-right"
		[disabled]="
			!atoBModel?.origin?.place_id
			|| !atoBModel?.destination?.place_id
			|| atoBModel?.journey === defaultDropdownValue
			|| atoBModel?.payment === defaultDropdownValue
		"
		(click)="navigateGetQuote()">
			{{ 'JOURNEY_DETAILS.GET_QUOTE' | translate }}
			<i class="fa fa-long-arrow-right m-left-5"></i>
	</button>

</custom-panel>
