.dropdown-menu {
	width: 100%;
	border-radius:0px;
	margin-top:1px;
	li{padding: 10px}
}

.btn.form-control{
	width: 100%;
}

@media (max-width: 400px) {
	.p-right-0{padding-right: 15px;margin-bottom:20px}
}
