<div class="col-lg-12">
	<div class="form-group"
		 [ngClass]="{'c-input special sp-top-input-border':isFat}">
		<label [ngClass]="{'text-indent-50': isFat && showIconTop}" [hidden]="labelTop === '' && !isFat">{{labelTop}}</label>
		<i class="al-icon {{iconTop}} text-color-s-3"  *ngIf="!isFaTop" [hidden]="!showIconTop"></i>
		<i class="fa {{iconTop}} text-color-s-3"  *ngIf="isFaTop" [hidden]="!showIconTop"></i>
		<input
			type="text"
			[ngClass]="{'text-indent-50': isFat && showIconTop,'form-control':!isFat}"
			placeholder={{placeholderTop}}
			[(ngModel)]="model" [required]="true"/>
	</div>
</div>

<div class="col-lg-6 " [ngClass]="{'sp-r': isFat}">
	<div class="form-group"
		 [ngClass]="{'c-input special sp-bottom-left-border':isFat}">
		<label [ngClass]="{'text-indent-50': isFat && showIconLeft}" [hidden]="labelLeft === '' && !isFat">{{labelLeft}}</label>
		<i class="al-icon {{iconLeft}} text-color-s-3"  *ngIf="!isFaLeft" [hidden]="!showIconLeft"></i>
		<i class="fa {{iconLeft}} text-color-s-3"  *ngIf="isFaLeft" [hidden]="!showIconLeft"></i>
		<input
			type="text"
			[ngClass]="{'text-indent-50': isFat && showIconLeft,'form-control':!isFat}"
			placeholder={{placeholderLeft}}
			[(ngModel)]="model" [required]="true"/>
	</div>
</div>

<div class="col-lg-6" [ngClass]="{'sp-l': isFat}">
	<div class="form-group"
		 [ngClass]="{'c-input special sp-bottom-right-border':isFat}">
		<label [ngClass]="{'text-indent-50': isFat && showIconRight}" [hidden]="labelRight === '' && !isFat">{{labelRight}}</label>
		<i class="al-icon {{iconRight}} text-color-s-3"  *ngIf="!isFaRight" [hidden]="!showIconRight"></i>
		<i class="fa {{iconRight}} text-color-s-3"  *ngIf="isFaRight" [hidden]="!showIconRight"></i>
		<input
			type="text"
			[ngClass]="{'text-indent-50': isFat && showIconRight,'form-control':!isFat}"
			placeholder={{placeholderRight}}
			[(ngModel)]="model" [required]="true"/>
	</div>
</div>
