<section class="header-brand">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 text-center">
				<img alt="Brand" src="../../assets/img/logo.svg" height="100px">
			</div>
		</div>
	</div>
</section>

<section [ngStyle]="{'min-height':'1500px'}">

	<div class="container">
		<br>
		<div class="well">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<journey-details [isWidget]="true" [showStep]="false" [title]="'Get quote'"></journey-details>
				</div>
			</div>
		</div>

		<div class="row p-top-30">

			<div class="col-md-4 col-md-offset-3">
				<p><a class="btn btn-primary btn-lg" [routerLink]="['/login']">Login</a></p>
				<br>
				<p><a class="btn btn-primary btn-lg" [routerLink]="['/dashboard']">Dashboard</a></p>
				<br>
				<p><a class="btn btn-primary btn-lg" [routerLink]="['/home']">Error Page</a></p>
				<br>
			</div>
			<div class="col-md-4">
				<p><a class="btn btn-primary btn-lg" [routerLink]="['/profile']">Profile</a></p>
				<br>
				<p><a class="btn btn-primary btn-lg" [routerLink]="['/profile-list']">Profile List</a></p>
				<br>
				<p><a class="btn btn-primary btn-lg" [routerLink]="['/airport-pickup']">Airport pickup</a></p>
				<br>
				<p><a class="btn btn-primary btn-lg" [routerLink]="['/styleGuide']">Style Guide</a></p>
				<br>
				<p><a class="btn btn-primary btn-lg" [routerLink]="['/dashboard/a-to-b/styles-mock']">Mock a-to-b</a></p>
				<br>
			</div>
		</div>
	</div>
</section>


<nav class="navbar navbar-inverse navbar-fixed-bottom">
	<div class="container">
		<div class="row">
			<p class="text-center">
				<br>
				Addison Lee @ 2017
				<br>
			</p>
			<p class="text-center">
				Angular {{version}}
			</p>
		</div>
	</div>
</nav>
